[2014-08-31 15:46] Kuniwak opened #4 "VimLParser の type を NodeType(type) しておく"

[2014-08-31 15:46] Kuniwak opened #5 "traverse(ast, handler) を traverse(ast, on_enter=None, on_leave=None) へ変更"

[2014-08-31 16:47] Kuniwak opened #6 "Implement policies"
See #8

[2014-09-14 11:54] #6 closed, assigned to nobody

[2014-11-02 18:08] Kuniwak opened #13 "Support syntastic"
Example: https://github.com/scrooloose/syntastic/blob/master/syntax_checkers/vim/vimlint.vim

[2014-11-02 18:09] #5 closed, assigned to nobody

[2014-11-03 05:00] Kuniwak opened #14 "Use tox on travis"
![commit log](https://cloud.githubusercontent.com/assets/1124024/4878691/46d9315e-6316-11e4-8e2c-ff5f3f6901cc.png)
![travis](https://cloud.githubusercontent.com/assets/1124024/4878692/488bcd90-6316-11e4-8f20-4dade6e9e4be.png)

[2014-11-03 17:02] #14 closed, assigned to nobody

[2014-11-06 14:18] Kuniwak opened #17 "PyPy support"

[2014-11-06 14:47] #17 closed, assigned to nobody

[2014-11-09 15:08] Kuniwak opened #21 "ファイルが存在しないとエラる"
thincaさんからの報告です。ありがとうございます。

[2014-11-09 15:09] Kuniwak opened #22 "let @" = 'foo' があると死ぬ"
thincaさんからの報告です。ありがとうございます。

[2014-11-13 13:55] itchyny opened #23 "Error on environment variable"
環境変数で落ちます

test.vim

[code]

Error

[code]

[2014-11-13 16:02] #22 closed, assigned to nobody

[2014-11-13 16:03] #23 closed, assigned to Kuniwak

[2014-11-13 16:09] #21 closed, assigned to nobody

[2014-11-13 16:23] Kuniwak opened #26 "drone.io で ansicolor 系のテストが落ちる件"

[2014-11-14 05:19] Kuniwak opened #27 "Write technical notes for linting algorithm, ScopePlugin algorithm"

[2014-11-14 05:39] itchyny opened #28 "TypeError: list indices must be integers, not str"
Code (:h :forにあるものです)

[code]

Error

[code]

[2014-11-14 06:42] itchyny opened #29 "Fail on builtin functions"
Code

[code]

Error

[code]

strlenがVariable is not declaredになるのはおかしいと思います

[2014-11-14 14:00] #29 closed, assigned to nobody

[2014-11-15 03:23] #26 closed, assigned to nobody

[2014-11-15 05:31] itchyny opened #33 "IdentifierNormalizationError on operation of list"
Code

[code]

Error

[code]

[2014-11-15 14:34] itchyny opened #35 "KeyError: 'value' on assignment"
`let l[0].foo = "bar"`の行を消すとエラーは無くなります。

Code

[code]

Error

[code]

[2014-11-16 10:56] thinca opened #36 "let {'foo'} = 1 でエラー"

[2014-11-18 02:46] Kuniwak opened #37 "Document for config file"

[2014-11-20 01:45] Kuniwak opened #38 "Encoding bug"
[code]

[2014-12-16 14:59] Kuniwak opened #42 "統計情報的なのがほしい"

[2014-12-16 16:24] itchyny opened #44 "ディレクトリーを指定した時は、ファイル名*.vimだけをチェックして欲しい"
今の実装ではドキュメントや.git以下のオブジェクトファイルもチェックしてしまいます。*.vimだけチェックして欲しいです。

[2014-12-16 16:26] itchyny opened #45 "cpo&vimは許して欲しい"
[code]

はイディオムで、広く使われており、オプション省略形のエラーはデフォルトで出さないで欲しいです。この場合は逆に省略形でない形を使うと違和感があります。

[2014-12-16 16:29] itchyny opened #46 "文字列を使っていないのにPrefer single quoted stringsとでる"
code

[code]

error

[code]

[2014-12-16 16:33] itchyny opened #47 "エラー番号と、そのエラーに対する説明が欲しい"
一意なエラー番号と(Googleのスタイルガイドを見よではなくて)説明が欲しいです。vintのコマンドにオプションを追加して参照できると嬉しいですが、このリポジトリーのWikiに作って頂いても便利だと思います。 (例えばshellcheckはWikiにエラーの説明がされています https://github.com/koalaman/shellcheck/wiki )

[2014-12-17 05:40] #38 closed, assigned to Kuniwak

[2014-12-18 01:59] #42 closed, assigned to Kuniwak

[2014-12-18 15:12] Kuniwak opened #52 "エラーの説明へのジャンプ方法の改良"
いまは see Google Vim script Styleguide とかなっていて、理由にたどり着くまでのストレスが大きい。
たとえば URL に変更するなどして、簡単に文献までたどりつけるようにする。
#47

[2014-12-18 15:25] Kuniwak opened #53 "Missing violation severity implementation"
((((；ﾟ♥ﾟ))) < Oops! I forgot to implement the violation severity mechanism...

[2014-12-19 05:37] #47 closed, assigned to Kuniwak

[2014-12-19 05:41] #46 closed, assigned to Kuniwak

[2014-12-19 14:21] Kuniwak opened #63 "Move _build_argparser on vint/__init__.py to vint/linting/env.py"

[2014-12-20 12:54] #37 closed, assigned to Kuniwak

[2014-12-20 13:13] Kuniwak opened #64 "チェックしたファイルの log 出力"
チェックできているかどうか不安になるので…

[2014-12-20 14:58] #44 closed, assigned to Kuniwak

[2014-12-20 15:19] #64 closed, assigned to Kuniwak

[2014-12-20 15:22] Kuniwak opened #70 "CR+LFで妙な挙動"
[改行コード CRLF のみのファイルで同じエラーがでました。先ほどエラーになったファイルの改行コードを LF にしたら、普通に動きました。](https://twitter.com/h0k0r0bi/status/546324372609196032)

[2014-12-20 15:50] #70 closed, assigned to Kuniwak

[2014-12-20 22:31] itchyny opened #72 "行番号ではなく、ファイル名でソートして欲しい"
現在の出力は、行番号でソートされているようです。これでは問題箇所を次々に送って行くとファイルが行ったり来たりして不便です。同じファイルは続いて出力されて欲しいと思います。

[2014-12-22 22:19] Shougo opened #75 "ディレクトリを引数に与えた時、.vim ファイル以外は無視して欲しい"
便利なプラグインありがとうございます。
引数にディレクトリを与えることで、リポジトリ全体をチェック対象にできるのは便利なのですが、
このとき .vim ファイル以外や.git ディレクトリも解析対象になってしまうようです。
これは不便なので、.vim 以外や .git は無視するのが妥当かと思います。

[2014-12-22 22:23] Shougo opened #76 "context_filetype.vimで decode error"
autoload/context_filetype.vim を vint にかけると以下のエラーとなります。
https://github.com/Shougo/context_filetype.vim/blob/master/autoload/context_filetype.vim
確認をお願いできますでしょうか。

[code]

[2014-12-22 23:11] #75 closed, assigned to nobody

[2014-12-22 23:14] #76 closed, assigned to nobody

[2014-12-23 06:27] Kuniwak opened #77 "Refactor"
[![UML-like sequence diagram](https://raw.githubusercontent.com/Kuniwak/vint/diagrams/seq_diagram.png)](https://raw.githubusercontent.com/Kuniwak/vint/diagrams/seq_diagram.png)

[2014-12-23 10:56] #77 closed, assigned to Kuniwak

[2014-12-23 13:09] #53 closed, assigned to Kuniwak

[2014-12-23 14:21] Kuniwak opened #80 "--max-violations is not working"
Oops! (;♥︎;)

[2014-12-23 14:22] #27 closed, assigned to Kuniwak

[2014-12-23 14:59] #72 closed, assigned to Kuniwak

[2014-12-23 14:59] #45 closed, assigned to Kuniwak

[2014-12-25 08:18] Kuniwak opened #83 "Multi-line comment config bug"
First comment configs are always ignored:

[code]

[2014-12-31 18:32] #36 closed, assigned to nobody

[2014-12-31 18:32] #35 closed, assigned to Kuniwak

[2014-12-31 18:32] #33 closed, assigned to Kuniwak

[2014-12-31 18:32] #28 closed, assigned to Kuniwak

[2015-01-04 12:40] itchyny opened #90 "Error on empty file"
[code]

[2015-01-05 07:16] #90 closed

[2015-01-05 07:17] Kuniwak commented on #90
Thanks!
This bug will fixed after the next release.

[2015-01-05 07:19] itchyny commented on #90
:+1:

[2015-01-05 09:16] YoshihiroIto opened #92 "delfunction が正しく評価されていない"
[code]

というファイルをvintにかけると
[code]
と出力されてしまいます。

[2015-01-05 09:18] Kuniwak commented on #92
原因に見当がつきました。delfunction 以降が関数シンボルテーブルの識別子のコンテキストであることを認識していないことが原因です。

[2015-01-05 10:00] Kuniwak opened #94 "Parse 2nd argument of map and filter"

[2015-01-05 14:22] Kuniwak commented on #92
#95 で修正しました。
次のリリースで反映されます。

[2015-01-05 14:23] #92 closed

[2015-01-05 14:25] YoshihiroIto commented on #92
ありがとうございます。
次リリース楽しみに待ってます。

[2015-01-10 15:42] Kuniwak opened #104 "Should care variables on a map command family and autocmd family"

[2015-01-12 15:52] thinca opened #105 ""Variable is not declared" occurs in :delfunction"
[code]

[code]

[2015-01-13 03:57] Kuniwak commented on #105
Thanks @thinca !

This bug already fixed on #93.
So it will be fiexed by the next release.

[2015-01-13 05:02] #105 closed

[2015-01-13 10:06] thinca commented on #105
! Thanks!

[2015-01-14 08:14] todesking commented on #13
作ってみました https://github.com/todesking/vimfiles/blob/master/syntax_checkers/vim/vint.vim

[2015-01-14 08:28] todesking commented on #13
有効にするには `let g:syntastic_vim_checkers = ['vint']` する必要あり

[2015-01-14 12:08] Kuniwak commented on #13
ありがとうございます！！！！！！！ :clap::clap::clap::clap::clap::clap:

できればパッケージマネージャーで読み込めるようにリポジトリで管理したほうがよいと思うので、リポジトリについて相談させてください。
実は前にチャレンジして失敗して放置していた[の](https://github.com/Kuniwak/vint-syntastic/blob/master/syntax_checkers/vim/vint.vim)もあるのですが、今回すべて @todesking さんが書かれたものなので、todesking さんのリポジトリにするのが妥当だと思っています。いかがでしょうか。

[2015-01-14 12:42] todesking opened #106 "Error "Variable is not declared (see :help E738)" on function name without g: prefix"
[code]

[2015-01-14 12:45] Kuniwak commented on #106
Thanks, @todesking !

This bug was already fixed on #93, but not released yet.
So the bug will be fixed by the next release [v0.3.1](https://github.com/Kuniwak/vint/milestones/v0.3.1).

[2015-01-14 12:46] todesking commented on #13
あっ既に存在していたのですか……
ちなみにそちらのだとどんな問題ありました?

[2015-01-14 12:46] Kuniwak commented on #13
いえ、恥ずかしながら動かなかったのです。

[2015-01-14 15:12] todesking commented on #13
つくりました https://github.com/todesking/vint-syntastic

[2015-01-15 06:44] Kuniwak commented on #13
:+1::+1::+1::+1::+1:

[2015-01-15 06:44] Kuniwak commented on #13
README にのっけたら close します！

[2015-01-18 09:27] miyakogi opened #107 "Invalid line number is reported in line-continuation"
Example

[code]

otuput

[code]

Line 3 should be reported as an error but line 2 is reported.

- vint version 0.3.0

[2015-01-18 09:27] miyakogi opened #108 "Invali line number is reported in line-continuation"
Example

[code]

otuput

[code]

[2015-01-18 09:28] miyakogi commented on #108
ご投稿です。失礼いたしました。

[2015-01-18 09:28] #108 closed

[2015-01-18 10:00] Kuniwak commented on #107
Thanks for reporting the bug.

The cause of this bug is in [vim-vimlparser](https://github.com/ynkdir/vim-vimlparser).
I'm gonna report the bug to vim-vimlparser.

[2015-01-18 10:06] miyakogi commented on #107
I see, thanks.

[2015-01-18 10:24] Kuniwak commented on #107
Reported: https://github.com/ynkdir/vim-vimlparser/issues/16

[2015-01-18 11:53] #107 closed

[2015-01-18 11:53] Kuniwak commented on #107
The bug will be fixed by the next release v0.3.1.

[2015-01-18 16:22] Kuniwak commented on #13
done: #114

[2015-01-18 16:22] #13 closed

[2015-01-18 16:23] Kuniwak commented on #106
Now v0.3.1 has been released.
You can upgrade Vint by `pip install -U vim-vint`.

[2015-01-18 16:23] #106 closed

[2015-03-08 13:02] thinca opened #121 "文字列内の文字列で Prefer single quoted strings が出る"
sample.vim
[code]

[code]

文字列中ではダブルクォートでもエラーにならないと嬉しいです！

[2015-03-09 12:59] thinca opened #122 "省略されたコマンド名を検出して欲しい"
`:exec` とか `:echom` みたいなやつを検出して欲しいです。(実際は `:execute` `:echomsg`　が好ましい)

[2015-03-09 12:59] itchyny opened #123 "New policy suggestion: prohibit abbreviation of commands"
I think that the policy which prohibits abbreviation of commands is missing. For example, we'd better use `function` is better than `fu`, `call` than `cal`. Use of command abbreviations causes us to read the code difficult.

[2015-03-09 13:00] itchyny commented on #123
Ah, sorry. This is duplication of #122.

[2015-03-09 13:00] #123 closed

[2015-03-09 13:00] Kuniwak commented on #122
オプション名の省略を禁止するポリシーもあるので妥当だと思います！

[2015-03-09 13:37] thinca opened #124 "文字列連結演算子の前後にスペースを入れるポリシー"
Vim script において、`.` 演算子は、文字列連結演算子と辞書の要素絵のアクセスがありますが、文字列連結の場合は `.` の前後にスペースを開けるべきです。

参考: [`:help expr-entry`](http://vim-jp.org/vimdoc-ja/eval.html#expr-entry)

`.` 演算子の前後が文字列であることが確実に分かる場合だけで良いので、これを検出するポリシーがあると嬉しいです。

[2015-04-13 21:54] wincent opened #125 "Warns about comparison against empty string"
Given a comparison like:

[code]

Vint will complain that `==` should be replaced with an explicitly case-(in)sensitive alternative like `==#` or `==?`.

It seems like case-sensitivity for empty strings isn't really meaningful (or am I missing something?) so the linter probably shouldn't warn about it. What do you think?

[2015-04-14 02:45] lencioni opened #126 "Feature request: warn about missing `autocmd!` from `augroup`"
Usually when defining an `augroup`, you want to include `autocmd!` at the top to clear any old autocommands before defining new ones. More info: http://learnvimscriptthehardway.stevelosh.com/chapters/14.html

It might be nice for vint to warn about `augroup`s that are missing an `autocmd!` at the top. What do you think?

[2015-04-17 01:07] Kuniwak opened #127 "Maintainer Wanted"
I have maintained the vint for half a year, but I will be busy for the next half a year.
So I will be not able to maintain constantly.

If you interest in the Vint, please help to make Vint better.
- [Design diagram](https://github.com/Kuniwak/vint/wiki/Vint-design)
##### EDIT

I mean that "I'm going to continue to maintain Vint, but now I need more help."

[2015-04-17 03:10] Kuniwak commented on #126
Sound good.

How about these examples?

#### Examples

Good:

[code]

[code]

[code]

Bad:

[code]

[code]

[code]

[code]

#### Limitation
We cannot check the case:

- https://github.com/google/vim-maktaba/blob/a5f242b8566e15db97aed04df3beb42557900679/autoload/maktaba/autocmd.vim

[2015-04-17 03:39] Kuniwak commented on #125
It makes sense.

We should warn if the operator is potentially affected by case-sensivity.
For example:

#### Good

[code]

#### Bad

[code]

[2015-04-17 23:12] lencioni commented on #126
:+1:

[2015-07-06 13:52] Coacher opened #128 "vint poorly handle functions and their scopes"
Hello.

Consider the following VimL code:
[code]

vint complains:
[code]
The comment about `Scope of variable` is out of place here. Anti-pattern of Vim also says nothing about function scopes.

Now consider the following code that describes a function that should be available globally:
[code]
Again vint complains:
[code]

Logically this function should have `g:` scope, but Vim actually forbids it

[2015-07-06 19:10] Coacher commented on #128
`scope_detector.py` says:
[code]

This is true. But vint should ignore function definitions when trying to fix function scopes unless it inside `ScopeVisibility.SCRIPT_LOCAL`.

[2015-07-06 21:56] Coacher commented on #128
One way to achieve this is via the following patch:
[code]

If function declaration has scope prefix, then leave it untouched, otherwise it is okay for a function declaration to not have a scope at all, so return `not None` as this is what triggers `is_explicit` in `get_explicity_of_scope_visibility()`.

[2015-07-06 22:13] Coacher commented on #128
Hmm, Vim actually allows the `g:` scope for functions, though its own documentation states otherwise. Looks like `g:` and `s:` are the only scopes that a function definition can have.

[2015-07-06 22:49] Coacher commented on #128
Now I see that vint tries to do best with function scopes. You've done a great job! Many thanks.

Though I have one more question:
Autoload functions cannot be local to script in order to work properly. Vint requires the explicit `g:` scope on them, but they are easily distinguishable in the code. Maybe it is not absolutely necessary to enforce an explicit scope on autoload functions?

Please shar

[2015-07-07 10:27] Kuniwak commented on #128
Thanks for reporting!

I think that an option to ignore autoload functions for the policy `Scope of variable` is the better way.

1. The current policy of `Scope of variable` is useful for beginners because they can understand auload functions are global.
2. However, power users get annoyed, and they can ignore this warning by the option.

What do you think this option?

[2015-07-07 17:53] Coacher commented on #128
I think such option would be even better. This way backwards compatibility is also preserved so users who prefer their autoload functions to be explicitly scoped will get the warnings.

[2015-07-07 19:56] Coacher commented on #128
I am not sure how to implement this. The straightforward way is to add a boolean parameter to `get_explicity_of_scope_visibility` and use it in conjunction with `is_autoload_identifier` check. But this changes the signature of `get_explicity_of_scope_visibility`. Maybe you can see another way?

[2015-07-08 12:19] Kuniwak commented on #128
In my design, a Policy class has a responsibility of suppressing their warnings. But now, ProhibitImplicitScopeVariable cannot know whether an identifier is autoloaded. So, we should export is_autoload_identifier to ProhibitImplicitScopeVariable.

Step1: Export IdentifierClassifier.is_autoload_identifier(node) as ScopePlugin#is_autoload_identifier(node).

Step2: In ProhibitImplicitScopeVariable#is

[2015-07-09 21:54] Coacher commented on #128
Thanks for the detailed info.

I've updated my PR. Tested and works as intended on my machine. Please review.

[2015-07-10 00:43] Coacher commented on #128
Also I'd personally prefer to store a policy option as an instance attribute and update it if necessary from PolicySet#update_by_config. Again I am not sure how it would fit into your design.

[2015-07-10 01:52] Kuniwak commented on #128
As you say, we should define the comment config syntax for each policies.

But I feel this feature is not so important.
Because, usually, a comment config is used to disable a policy.

I want to pend the issue until the such request is arrived.

[2015-07-10 18:30] Coacher commented on #128
I am sorry, but I didn't understand what you've meant here. Could you rephrase/expand please?

[2015-07-11 10:15] Kuniwak commented on #128
I meant that we should define the "comment syntax for police options".

For example:

[code]

But I cannot think of any idea for the syntax.

[2015-07-11 10:15] #128 closed

[2015-07-11 10:16] Kuniwak commented on #128
Oh... sorry it is my operation mistake.

[2015-07-11 10:19] Kuniwak commented on #128
I meant that we should define the "comment syntax for police options".

For example:

[code]

But I have no good idea.

[2015-07-16 01:09] Coacher commented on #128
Hmm, I still don't quite understand what you've meant here since vint uses YAML configuration and your example is something different. Are we talking about different things?

[2015-07-16 11:19] blueyed opened #130 "Neovim mode?"
I am getting the following error from my vimrc:

    E492: Not an editor command: tnoremap <C-h> <C-\><C-n><C-w>h (see ynkdir/vim-vimlparser)

It is used like this:

    if exists(':tnoremap')  " Neovim
      tnoremap <C-h> <C-\><C-n><C-w>h
      tnoremap <C-j> <C-\><C-n><C-w>j
      tnoremap <C-k> <C-\><C-n><C-w>k
      tnoremap <C-l> <C-\><C-n><C-w>l
    endif

It would be useful probably to hav

[2015-07-17 05:41] Kuniwak commented on #130
Sounds good!
We can support it when vim-vimlparser can parse `:tnoremap`.

[2015-07-29 16:14] KabbAmine opened #131 "Show severity levels directly in the output"
Hi first of all thanks for your linter :+1:

Without using json output, its hard to get severity level (error, warning ...), so can we have a way to output it directly?

For example ...
[code]

... will become something like this:
[code]

Its will be easier then to integrate `vint` into external tools.

[2015-08-06 06:59] Kuniwak commented on #131
This feature released with v0.3.3.
You can do it by using the `--format` option.

[code]

 See: https://github.com/Kuniwak/vint/wiki/About---format-option

[2015-08-06 07:34] KabbAmine commented on #131
Just awesome :+1: Thank you.

I close the issue.

[2015-08-06 07:34] #131 closed

[2015-08-11 03:59] lencioni opened #133 "Feature request: warn to use <nomodeline> with User autocmds"
As recommended by the `:h <nomodeline>` docs:

    After applying the autocommands the modelines are
    processed, so that their settings overrule the
    settings from autocommands, like what happens when
    editing a file. This is skipped when the <nomodeline>
    argument is present. You probably want to use
    <nomodeline> for events that are not used when loading
    a buffer, such as |Use

[2015-08-11 15:22] Kuniwak commented on #133
Thanks, @lencioni .

I don't know what events that we should warn when the autocmd has no `<nomodeline>`.
Would you list the events?

[2015-08-11 16:42] lencioni commented on #133
Ah, I was thinking it would be nice to warn when it wasn't there for `User` events. Something like this:

[code]

should be:

[code]

This was only added in Vim 7.3.438 so maybe that should be part of the message so that it can be made conditional?

[code]

[2015-08-14 15:59] Kuniwak commented on #133
OK, I agree this policy.

I'm gonna implement it later.

[2015-08-22 08:29] zchee commented on #130
+1
#yapcasia :)

[2015-09-14 00:56] vito-c commented on #130
+1

[2015-09-14 04:00] vito-c commented on #128
@Kuniwak
The comment syntax doesn't work I tried both
[code]
but was only able to get this to work via the vintrc yaml file

[2015-09-16 15:42] Coacher opened #134 "Please unbundle vimlparser"
Hello.

Currently vimlparser is imported unconditionally from extlib/. Please provide a way to use system-wide installation of vimlparser if one is available. try..except with ImportError should do the trick the same way it is done in compat/.

[2015-09-18 01:29] Kuniwak commented on #134
Sorry for my late reply.

I have a question.
Why do you want to use system-wide installation of vimlparser?

[2015-09-18 01:53] Coacher commented on #134
Because I wish to properly package vint for my distro. And that extlib is getting installed directly to site-packages/ dir, because it is not under vint/ dir. Same for compat/, test/, and dev_tool/, but I can avoid installing them, while extlib/ is a requirement for the normal vint functioning.

This is a bigger problem with `find_packages()` in setup.py and your project structure. `find_packages(

[2015-09-18 02:10] Kuniwak commented on #134
OK.
Could you send a PullRequest about this problem?

[2015-09-18 02:17] Coacher commented on #134
Which one?

Unbundling vimlparser (or hiding it under vint/ dir) is a trivial fix. Properly fixing your project layout is not so trivial and will require a whole bunch of import fixes most probably.

[2015-09-18 02:34] Kuniwak commented on #134
I feel the last one is better.
And the first one is also enough.

You can choose the one that you like.
I'll leave it up to you.

[2015-09-18 13:35] Kuniwak commented on #128
@vito-c Sorry, this feature is not implemented yet.

[2015-10-03 02:13] tmsanrinsha opened #135 "グローバルな関数にg:をつけないとスタイルのチェックで引っかかる"
例えばIsInstalledという関数があってg:なしで使うと

[code]
という警告が出ますが、`:h E124`を見ますと

[code]

と書いてあるので、大文字かs:で始まればいいはずなので、修正してもらえると助かります。

[2015-10-25 20:44] thinca opened #137 "Cannot install with Python 3.5"
![](https://i.gyazo.com/8e82502e80d59698d7853198f4d4913f.png)

[2015-10-26 00:36] Kuniwak commented on #137
This problem is caused by enum34 package.

https://bitbucket.org/stoneleaf/enum34/issues/5/enum34-incompatible-with-python-35

It can be resolved by a patch like [it](https://github.com/xmikos/reparser/pull/2/files).

I'm gonna fix it later, but probably it is fast if you send PR to vint.

[2015-11-12 01:07] #137 closed

[2015-11-22 20:30] davidosomething opened #139 "enum34 still required?"
i have python 3.5, the install requirements still adding enum34 package

https://github.com/Kuniwak/vint/blob/master/setup.py#L13

e.g. see also https://github.com/donnemartin/saws/issues/55

[2015-11-23 05:49] KazuakiM opened #140 "vint 実行エラー?"
vintを実行した所、エラーが発生しましたのでご報告します。
Pythonに疎く、同様の問題が発生した人などいましたら教えて頂けると助かります。

* 環境
 * OS X Yosemite 10.10.5
 * vint cd23db2 (最新バージョン)
 * .vintrc.yaml 未使用

[code]

[2015-11-27 11:57] Kuniwak commented on #139
Thanks, @davidosomething .

This problem is resolved on #138 .
It will be fixed on next release.

[2015-11-27 12:05] #134 closed

[2015-12-03 10:53] netei opened #146 "vint throws an error when using escaped characters"
With the following minimal vimrc :

`nnoremap a :normal 0f.dt(^[`

Where the `^[` character is the one that you get when pressing `<c-v><Esc>`
gives the following error.

`/home/user/.tvimrc:0:0: Cannot detect encoding (binary file?): /home/ldap/hipped/.tvimrc (see no reference)`

I know that they is another alternative to give `<Esc>` in viml, but it would be great if vint was able to read files

[2015-12-17 04:30] lambdalisue opened #147 "Feature request: Add a way to specify options to each policy"
This feature request is mainly for `ProhibitAbbreviationOption`.

For example, I would like to use `ProhibitAbbreviationOption` but for `cpoption`.
In README, I found

[code]

But I cannot be bothered to write these comment on every Vimscript files.
It would be really nice if I could specify option in `~/.vintrc.yaml` like:

[code]

So I would like to have (at least) a way to specify options to ea

[2015-12-23 00:19] moll opened #148 "Missing :endif: for a single line if statement with multiple |s"
Hey,

Is it me or does this trip up vimlparser?
[code]

Throws:
[code]

[2016-01-01 06:18] Kuniwak commented on #140
@KazuakiM 長らく着手できず、すみませんでした。

この問題ですが、[pip の問題の可能性](http://stackoverflow.com/questions/27341064/how-do-i-fix-importerror-cannot-import-name-incompleteread)がありそうです。
pip のアップグレード後、再現するかどうか確認してもらってもいいでしょうか。

また、再現する場合は以下のコマンドの結果を教えてください。

[code]

[2016-01-01 13:04] KazuakiM commented on #140
お手数をお掛けしました。
おっしゃる通り、Pythonの環境がよろしくなかったようです。
一旦、pipのバージョンを最新に上げ、インストール済ライブラリを全て削除して再度行ったところ、vint動きました。
本当に申し訳ありませんでした!!

[2016-01-01 13:04] #140 closed

[2016-01-01 14:01] Kuniwak commented on #140
よかったです！ :smiley:

[2016-01-10 05:25] tyru opened #151 "Feature request: Suppress specific warnings/errors?"
I want a way to suppress specific warnings/errors like [vim-vimlint](https://github.com/syngan/vim-vimlint).

[code]

(code from http://d.hatena.ne.jp/syngan/20140321/1395411106)

[2016-01-10 12:24] Coacher opened #152 "Suppress autoload option for scope policy is obsolete"
Hello.

After PR #136 was merged the suppress autoload option now does nothing, because only functions can be autoload and autoload functions are always global. Thus scope of autoload functions is always ignored now.

Maybe suppress autoload and related code should be removed.

[2016-02-04 12:40] wsdjeg opened #153 "request neovim support"
E492: Not an editor command: tnoremap <C-Right> <C-\><C-n><C-w><Right> (see ynkdir/vim-vimlparser)

`tmap` is the command for neovim

[2016-02-04 12:44] Kuniwak commented on #153
This issue is duplicated (#130)

[2016-02-04 12:47] wsdjeg commented on #153
thanks ,now I am using neomake,but I find it does not work,
I using `pip install --user vim-vint` install this proj;
and the vint is in `~/.local/bin` which is not in my PATH by default,

[2016-02-04 12:48] #153 closed

[2016-02-08 20:41] RianFuro opened #154 "Severity level and default config"
I tried out vint and ran it with --error from the command line, without having any config file defined whatsoever. Still, I got a bunch of style_problem errors printed, namely from the ProhibitImplicitScopeVariable policy.

Dug into the code and found out it's because it's set as an enabled policy in the default config file, so it's ignoring the severity level I set.
I see it's designed like that

[2016-02-10 11:45] #154 closed

[2016-02-10 12:00] Kuniwak commented on #154
Thanks.

It is fixed on v0.3.5.
Please update vint.

[2016-02-10 15:51] RianFuro commented on #146
Looks like an issue with chardet. I fed the file to chardet linewise and it gave me this:
[code]

Looks like chardet doesn't know that specific byte pattern - and is also unable to convert that to unicode. So i went and dumped it - just the ^[ escape sequence gave me:
[code]

`1B0A` Sure is an odd byte sequence and from what I checked it's not caught by chardet. Will check if changing that fixes s

[2016-02-10 16:17] RianFuro commented on #146
Ok, actually their PyPi package is out of date. I removed the chardet package (that was installed as a dependency), cloned their [repository](https://github.com/chardet/chardet) and installed that version. With the repos version, the filetype gets detected properly.

[2016-02-10 16:34] RianFuro commented on #154
Wicked fast! Thanks :)

[2016-02-10 17:11] RianFuro commented on #146
Poked them at chardet/chardet#83

[2016-02-11 07:51] netei commented on #146
Ok, thanks :-)

[2016-02-11 14:59] RianFuro commented on #130
I opened a pull request over there with changes to support the neovim command set. ynkdir/vim-vimlparser#19

If that goes through all that's left is to make a command line switch for neovim support in vint that's passed into the parser :)

[2016-02-12 14:42] Kuniwak commented on #130
Thank you, @RianFuro !

This feature was shipped with v0.3.6.
Please update and try it.

[2016-02-13 15:54] #139 closed

[2016-02-13 15:55] Kuniwak commented on #80
Resolved #158

[2016-02-13 15:55] #80 closed

[2016-02-13 16:03] Kuniwak commented on #148
Hi, @moll.
Sorry for my late reply.

This problem was resolved on v0.3.6.
Please update Vint and try it.

[2016-02-13 16:03] Kuniwak commented on #146
Thanks!

[2016-02-13 16:04] #130 closed

[2016-03-18 08:29] sils1297 opened #162 "Use ~= for requirements"
Hey, you seem to use == for requirements, this may lead to version conflicts. ~= let's you allow all API compatible versions and thus your programm is way less likely to error out especially when used in a env with other programs. (And we all know that not all users do use an own env for every program.)

[2016-03-24 17:45] paretje opened #163 "Incorrect E477"
In a function in my vimrc, I use `Gdiff!`. Without any extra arguments, vint returns:

[code]

[2016-03-24 18:15] paretje commented on #163
I opened an issue at [vim-vimlparser](https://github.com/ynkdir/vim-vimlparser/issues/20).

[2016-04-11 15:26] Kuniwak commented on #152
This issue was resolved by #165 .
Thank you, @Coacher !

[2016-04-11 15:26] #152 closed

[2016-04-13 21:17] moll commented on #148
Thanks. I'll report back if it's still not working once I get around to it. I'll close this issue till then.

[2016-04-13 21:17] #148 closed

[2016-04-15 08:50] rhysd commented on #151
@tyru

Are you looking for [comment-config](https://github.com/Kuniwak/vint#comment-config)?

[2016-04-15 15:03] tyru commented on #151
That's it! thanks!

[2016-04-15 15:03] #151 closed

[2016-05-10 10:33] blueyed opened #166 "Use different exit codes for errors, warnings and style issues"
The error code could be different based on if there were errors, warnings and/or style issues.

E.g. based on the highest severity of all violations, `1` could be used if there is any error, `2` if there is not error, but a warning and 3 in case there are only style issues.

This would make it easier to integrate into CI, without having to grep the output etc.

[2016-07-04 20:23] blueyed opened #167 "Please provide a --no-color command line argument"
That would be useful for e.g. Neomake to disable the `color` setting from a user's config (Ref: https://github.com/neomake/neomake/issues/442).

Alternatively, it would be nice to use colors automatically, e.g. by detecting if stdin is connected etc.

[2016-07-05 08:45] Kuniwak commented on #167
Hi, the [`--no-color` option](https://github.com/Kuniwak/vint/wiki/Config#color-settings) is now available.
Please update Vint and try it.

[2016-07-05 16:00] blueyed commented on #167
Awesome, thanks a lot!
From looking at the code I believe that it works.

[2016-07-30 18:49] ryunix opened #171 "I'd like vint to support .yml as well as .yaml"
`.vintrc.yaml`固定となっていますが、`.vintrc.yml`も対応してほしいです。

理由としては、他のYAMLファイルとの統一性やそもそもの好み(拡張子は3文字が好き)という点があります。

[2016-07-30 21:01] Kuniwak commented on #171
This feature was release as [v0.3.9](https://pypi.python.org/pypi/vim-vint/0.3.9).

Please upgrade Vint and try it.

[2016-07-31 04:11] ryunix commented on #171
`.vintrc.yml`での動作を確認しました。
対応ありがとうございます。

[2016-07-31 04:11] #171 closed

[2016-08-21 17:21] ryunix opened #175 "If inner if statements, suppress warning (prohibit set nocompatible policy)"
`set nocompatible`が存在すると警告が出ますが、以下のパターンは警告を出さないようにしてほしいです。
このパターンは[vimrcアンチパターン](http://rbtnn.hateblo.jp/entry/2014/11/30/174749)の「実は必要のないset nocompatible」でも言及されている通りです。

[code]

[2016-08-25 04:11] Sathors opened #176 "Error 404 to the google style guide in wiki"
The links to the google vimscript style guide give error 404 in the wiki page.

Thanks for the great work!

[2016-08-29 19:58] underyx commented on #162
:+1: with the new pyyaml 3.12 release this issue just broke everything that uses pyyaml and vim-vint, including [coala](https://github.com/coala-analyzer/coala).

[2016-08-30 01:07] #162 closed

[2016-08-30 04:37] Kuniwak commented on #176
Thanks for reporting.

I fixed the broken links ([diff](https://github.com/Kuniwak/vint/wiki/Vint-linting-policy-summary/_compare/3d577037cf189d9ac6bb79c617169e0e032d23cc...e9119be8e997f8b38476d8c0066c47b8cb0faedc)).

[2016-08-30 04:37] #176 closed

[2016-08-30 14:08] Sathors commented on #176
Thanks @Kuniwak !

[2016-09-02 22:24] blueyed opened #179 ""Undefined variable" with slicing"
With a file like the following:

[code]

vint will wrongly say:

The workaround is to use `s[(foobar):(foobar+1)]`, but both works in Vim.

[2016-09-04 14:59] blueyed commented on #167
Works, thanks!

[2016-09-04 14:59] #167 closed

[2016-09-04 15:07] blueyed opened #180 "Ignore warnings always with "--error", when (re-)enabled in comments"
When using `vint --error` the following should not trigger a warning later in the code:

[code]

Using `--error` should really only report errors.

While at it, I think it would be useful to have a shortcut that can be used to disable a warning just for one line (the next one or the line where it is added as a comment, à la `" noqa`.

Ref: https://github.com/neomake/neomake/pull/575/commits/17dbbe

[2016-09-17 23:33] blueyed opened #181 "Ignore ProhibitNoAbortFunction for functions that cannot fail (static return)"
Do you think it makes sense to ignore the "Use the abort attribute for functions in autoload (see Google VimScript Style Guide (Functions))" policy in case the function just returns a string?

We're using vint for Neomake, and its makers often just return a static string, dict or list and I think the "abort" might not be required there?!

I can see that it is a good habit in general (although I do

[2016-09-19 19:12] gregorias opened #182 "#177 breaks pip install for python2"
Issuing `pip install vim-vint` results in an error:

[code]

Using pip3 or specifying vim-vint=0.3.9 installs vim-vint correctly.

I can't find any documentation on `~=`, which suggests that this is the culprit.

[2016-09-20 14:24] Kuniwak commented on #182
Thanks for reporting.

I found the the operator `~=` on [PEP 440](https://www.python.org/dev/peps/pep-0440/#compatible-release).

I want to know your environment in more detail:

- OS
- Python version
- pip version

[2016-09-20 14:33] Kuniwak commented on #181
Make sense.

But I think that this feature do not have high priority.
So, I will implement it after resolving more critical issues such as #121.

[2016-09-20 17:29] gregorias commented on #182
The OS is Linux Mint 17.3 Rosa 64-bit.

Tested combinations of python and pip on which I get that error are:
pip 1.5.4 (python2.7)
pip 8.1.2 (python2.7)

Note that I'm not 100% sure that it's the requirements,txt file that's causing this. I blame it, because of the error string and the temporal and semantic closeness of the change to that file.

[2016-09-22 04:44] gregorias commented on #182
Let me know if you need further help on this issue. If you can't reproduce, perhaps I can debug this more thoroughly.

[2016-09-25 17:26] gregorias commented on #182
The error has disappeared and vint installs successfully. after I have updated my system from Linux Mint 17.3 to 18.  The new python2 version is 2.7.12, pip's version is pip 8.1.1.

I would consider it an issue with older python2 versions.

[2016-10-02 10:31] KabbAmine opened #183 "Lint from stdin"
Is there any way to use vint with stdin

e.g?

[code]

[2016-10-10 14:37] KabbAmine opened #184 "Feature request: A style error for abbreviated vim commands"
Like `ProhibitAbbreviationOption` for vim options, it will be great to add another rule in style problems for abbreviated vim commands (Write `setlocal` instead of `setl` for exemple).

[2016-10-11 01:51] prashcr opened #185 "Policy `ProhibitImplicitScopeBuiltinVariable` is not defined"
I tried using this policy from https://github.com/Kuniwak/vint/wiki/Vint-linting-policy-summary, but it seems to be undefined.

[2016-10-11 08:30] w0rp commented on #185
I think you just need to use the `-s` option for this.

[2016-10-12 00:03] prashcr commented on #185
Thanks!

[2016-10-12 00:03] #185 closed

[2016-10-27 00:00] joshbode opened #186 "Vint throwing exception on non-alpha options"
Vint is throwing an exception for non-alpha options (i.e. `[a-z]+`), which appear to be valid options in Neovim (e.g. `<F13>`).

For example, the following option (necessary to to get control-shift working in iTerm2.app for me) that overrides the "F13 key" to map hex codes (see this [post](http://www.daniellesucher.com/2014/04/24/my-new-favorite-vim-tmux-bug/)), e.g.

[code]

gives:

[code]

I was

[2016-11-14 00:02] Alok commented on #185
I used the `-s` flag and got the same error. I'm using `vint` version `0.3.10`.`

[2016-11-14 03:50] Alok opened #187 "how to format results for quickfix list?"
One way to make it easy for users to quickly fix their vimscript would be to all `--f vim` or some such option that prints the results in a quickfix-list compatible format. You could then do something like

[code]

[2016-11-15 08:21] Alok commented on #187
Nevermind, `--no-color` solves it. Is there a way to detect that the data is being sent to a program like `vim` and auto-disable the color?

[2016-11-15 08:21] #187 closed

[2016-12-02 10:49] z0rc opened #188 "$XDG_CONFIG_HOME support"
It's discouraged to put configuration dotfiles into home directory. Please use `$XDG_CONFIG_HOME` as a default user folder for `vintrc`. If this env var isn't set, the default fallback to `~/.config` should be used.

You can find more at https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html. Please keep in mind, that this spec is applied console applications too. For example

[2016-12-05 17:41] bstaletic opened #189 "Inline python declared with `exec s:inline_python` results in treating python as error"
While the following vimscript is linted correctly:
[code]
the following, even though equivalen, results in an error on third line:
[code]
This way of declaring inline python can be useful when `s:inline_python` has different value depending on the python interpreter that should be used.

[2016-12-06 01:13] Kuniwak commented on #189
@bstaletic Thanks for the report.

I want to see the error occurred.
Could you show me the error message, please?

[2016-12-06 08:10] bstaletic commented on #189
@Kuniwak

File producing the error, named test.vim:
[code]
Vint command used: `vint -f '{file_path}:{line_number}:{column_number}:{severity}:{description} ({policy_name})' -s test.vim`
Error reported by vin: `test.vim:3:1:error:E492: Not an editor command: import os (SyntaxError)`

Note: This need not be an `import` line that causes the error, but any line that is valid python, but invalid vimscri

[2016-12-06 21:21] nfnty opened #190 "linting/policy/prohibit_abbreviation_option.py: list index out of range"
Crashes when running `vint --style-problem delimitMate/autoload/delimitMate.vim`

[code]

[2016-12-07 01:23] Kuniwak commented on #189
I confirmed the problem.
But I think this cause is in vim-vimlparse.

[code]

I reported this issue by https://github.com/ynkdir/vim-vimlparser/issues/33

[2016-12-15 12:59] wsdjeg opened #191 "vint do not support a:firstline and a:lastline."
[code]
I get errors :
[code]

[2016-12-18 13:03] Kuniwak commented on #191
Thanks for the reporting.

I did not confirm this error.
Could you show me the following environment, please?

- OS name and version
- Python version
- Vint version

[2016-12-18 13:04] Kuniwak commented on #191
This is a debugging memo for me.

##### Debug info
###### `a:firstline`
[code]

###### `a:lastline`
[code]

###### Scope analysis

[code]

[2016-12-18 15:57] wsdjeg commented on #191
`uname -a`
`Linux archlinux 4.8.13-1-ARCH #1 SMP PREEMPT Fri Dec 9 07:43:17 CET 2016 i686 GNU/Linux`
python 3.5.2
vint -v 0.3.10

[2016-12-18 16:12] Kuniwak commented on #191
Hmm, I also want to see the full-length content of the file.
Could you show the URL for the file?

[2016-12-20 22:53] fszymanski opened #192 "Failed tests (Python 3.5)"
I wanted to package `vint` for Fedora but the tests or failing under Python 3.5.
Log: https://paste.fedoraproject.org/510434/

[2016-12-21 09:17] fszymanski commented on #192
I'm confused. When I build the package on my desktop everything is fine.
Log: https://paste.fedoraproject.org/510436/

[2016-12-21 17:32] fszymanski commented on #192
My bad! Fixed.

[2016-12-21 17:32] #192 closed

[2017-01-06 22:46] blueyed opened #194 "ConfigProjectSource might use ConfigGlobalSource"
Given `/home/user/project/.vintrc.yaml` and `/home/user/.vintrc.yaml`, `ConfigProjectSource` will first find the project config, but then also the user's global config, which it then uses instead.

I think a sensible fix for this is to stop once the first config has been found.

Also, ignoring the global config explicitly might make sense.
Vint could stop at the user's home directory to address th

[2017-01-06 22:55] blueyed opened #195 "ProhibitEqualTildeOperator: be smarter about cases where it is not required"
It would be nice if the `ProhibitEqualTildeOperator` ("Use robust operators `==#` or `==?` instead of `==`") policy would ignore cases/violations when there is no ambiguity, e.g. when comparing numbers (as string), spaces (`line !~ '^  '`) or with the empty string (`if foo == ''`).

I don't mind using it always myself, but I can see that maintainers/people do not like it.

What do you think?
The c

[2017-01-08 06:27] #194 closed

[2017-01-08 06:36] Kuniwak commented on #195
Make sense.

Why I implement `ProhibitEqualTildeOperator` is to avoid risk caused by the problematic operators.
And `foo == ''` have no risk.

[2017-01-08 06:52] Kuniwak commented on #194
I shipped this bugfix on v0.3.11.

[2017-01-12 11:22] rlue opened #198 "Syntastic: `unrecognized error format (crashed checker?)`?"
I'm getting an error when I run `:SyntasticCheck` on VimL files. I have vim configured with only the options suggested for new users in Syntastic's README:

[code]

Here's the output for the Syntastic debug log:

[code]

It appears this problem has [cropped up with other linters](https://github.com/vim-syntastic/syntastic/issues/1843), as well. Maybe a null value is being passed as an argument to

[2017-01-13 07:44] rlue commented on #198
Update, this issue only occurs in MacVim, no problem in Terminal.

[2017-01-13 08:29] Kuniwak commented on #198
Hmm, it seems strange.

Vint has a feature that guess file encoding, and this feature got something wrong.
What file encoding are you using?

[2017-01-13 08:32] rlue commented on #198
[UTF-8](http://imgur.com/a/DMaIi)

[2017-01-13 08:50] Kuniwak commented on #198
Thank you.

What file encoding are you using for config files such as `~/.vintrc`?

[2017-01-13 09:08] rlue commented on #198
There's a `.vintrc`?? (Clearly, I'm new at this.)

I don't have a `.vintrc` file (I checked with `find . -name "*vintrc*"`!). Should I create one and set some settings?

I did a little check on every single file in my `~/.vim/` directory – the only non-UTF-8 files are git indices and objects from my various vim plugins, and all my vimundo files.

(command lifted from this [blog](http://blog.endpoi

[2017-01-13 09:24] Kuniwak commented on #198
Hmm... could you print the result of the following command?:

[code]

[2017-01-13 09:26] rlue commented on #198
`/usr/local/lib/python2.7/site-packages/vint/asset/default_config.yaml: text/plain; charset=us-ascii`

[2017-01-13 09:52] Kuniwak commented on #198
I suspect that the module "chardet" (Vint is using this module) returned an unexpected result.

Could you try the following script?

[code]

[code]

[2017-01-13 10:14] rlue commented on #198
Checking: `/usr/local/lib/python2.7/site-packages/vint/asset/default_config.yaml`
    {'confidence': 1.0, 'encoding': 'ascii'}

[2017-01-13 10:19] Kuniwak commented on #198
Hmmmmm...! it seems strange! 😰

[2017-01-13 10:21] rlue commented on #198
Very strange indeed! FWIW, the file appears as UTF-8 in vim, and if I add non-ascii characters to it (like “éâ” or “臭小孩”), vim still says it's UTF-8, but chardet says it's ISO-8859-2??

[2017-01-14 01:18] rlue commented on #198
So [I posted about this on reddit](https://www.reddit.com/r/vim/comments/5npdia/vint_breaks_syntastic_in_macvim_but_not_in/dcdpmjx/), and somebody helped me get one step closer to the answer:

If I launch GUI vim from the Finder, I get the error.
But if I launch GUI vim from the terminal (with `mvim`), then the error goes away!

Clearly this is an issue with the way MacVim is implemented and not w

[2017-01-14 16:05] rlue commented on #198
So I've been investigating this problem a little further. @lcd047 (from Syntastic) suggested it might be wise to look at the output of `:echo system('env')`. I thought I'd share just in case you found it useful.

I ran the command in both settings (invoking from terminal and invoking from Finder), then removed all the identical lines. Here's what was left:

Launched from the terminal, it looks lik

[2017-01-14 16:41] rlue commented on #198
So @lcd407 totally figured it out. The problem is that Finder doesn't preserve locales. If I set `let g:syntastic_vim_vint_exe = 'LC_CTYPE=UTF-8 vint'`, then everything works fine

I'm reopening this issue per his/her suggestion:

Thank you @kuniwak!

[2017-01-14 19:18] lcd047 opened #199 "Typo in policy rule name"
The name of the policy rule `ProhibitImplicitScopeBuiltinVariable` is actually [implemented](https://github.com/Kuniwak/vint/blob/master/vint/linting/policy/prohibit_implicit_scope_builtin_variable.py#L12-L14) as `ProhibitImplicitScopeBuitlinVariable` (`t` and `l` in `Builtin` are swapped).  Consequently, enabling `ProhibitImplicitScopeBuiltinVariable` in `.vintrc.yaml` has no effect, the misspell

[2017-01-16 05:43] Kuniwak commented on #199
Thanks for reporting.

Would you PullRequest that resolve this?

[2017-01-16 05:52] Kuniwak commented on #198
Thanks for sharing the cause! 🎉

I'll fix it later, but also you can send PullRequest to solve it.
Would you send the PullRequest?

[2017-01-16 05:56] Kuniwak commented on #190
Thanks for reporting this issue.
And sorry for my late reply.

I want to see the file `delimitMate.vim` to investigate this problem.
Could you comment the URL for the file, please?

[2017-01-16 06:09] rlue commented on #198
I wish I could, but I really don't know python at all! I'd just wind up making your code worse, I think, so I'll leave this one to you ;)

[2017-01-16 06:10] lcd047 commented on #199
Done in #200.

[2017-01-16 06:10] #199 closed

[2017-01-16 06:12] Kuniwak commented on #198
OK, I'll fix it later!

[2017-01-16 06:45] nfnty commented on #190
https://github.com/Raimondi/delimitMate/blob/master/autoload/delimitMate.vim

[2017-01-17 15:03] mvolkmann opened #201 "ProhibitImplicitScopeBuiltinVariable is not defined"
When I enable this policy in my .vintrc.yaml and run vint I get this:
[code]

[2017-01-17 15:06] mvolkmann commented on #201
Not sure if it is related, but I see a typo in the file prohibit_implicit_scope_builtin_variable.py.
Note the spelling of "Builtin".
[code]

[2017-01-17 15:16] mvolkmann commented on #201
Okay, I think that is the cause of the problem. I believe fixing that typo will fix this issue.

[2017-01-18 18:28] EinfachToll opened #202 "Crash when parsing silent redir => foo"
Vint crashes when it tries to parse the following line:

[code]

Without `silent`, it works, with `>` instead of `=>` it works, too.

I'm using Vint 0.3.11.

This is the error message:

[code]

[2017-01-20 22:37] lafrenierejm opened #203 "Old version of enum34"
Is there a reason why enum34 is set to version 1.0.4 exactly as opposed to 1.0.4 or newer?

[2017-01-22 06:28] Kuniwak commented on #203
I think that there are no reason.

Hi @lambdalisue, I want to hear your opinion. What do you think it?

[2017-01-22 20:40] lafrenierejm commented on #203
I can confirm that the python2 version works with enum34 1.1.6.

[2017-01-23 04:12] lambdalisue commented on #203
Yes. There is no particular reason to stick that version.

[2017-01-23 08:03] Kuniwak commented on #203
Hi, @lafrenierejm, would you send a pull request to fix this problem?

[2017-01-24 02:55] #203 closed

[2017-01-30 14:18] wsdjeg commented on #191
https://github.com/SpaceVim/SpaceVim/blob/ImproveReadme/autoload/zvim/util.vim#L285

![2017-01-30-22 16 47](https://cloud.githubusercontent.com/assets/13142418/22426400/0c319e42-e73a-11e6-894d-a18b07ad8dc9.png)

[2017-02-17 19:00] blueyed opened #205 "Parsing of custom commands / heredoc in general"
I have found that there are several parser functions based on `parse_cmd_lua` to handle `python <<EOF` blocks, but they do not match custom commands like in https://github.com/davidhalter/jedi-vim/blob/b885e10e0db39ee735475464cd5af0cd93ff4959/autoload/jedi.vim#L182-L186.

Since none of them appear to delegate parsing of the inner block to e.g. `python`, I think it could be generalized to handle an

[2017-02-17 19:01] blueyed commented on #205
btw: it's not possible to deactivate vint completely for whole blocks, is it?  (especially when it's a SyntaxError)

[2017-02-22 16:20] dezza commented on #182
On WSL I have the same error with both python2 and python3 pip

[code]

[2017-02-24 21:17] blueyed opened #206 "Line/col is wrong with parse error in map function"
Given the following file, the error should be reported somewhere in line 2, but is not:
[code]

It seems to refer to the end of the string being eval'd:
[code]

The exception is

[2017-02-26 05:33] Kuniwak commented on #182
@dezza this issue is probably caused by legacy Python2.
Could you update to newer Python2?

[2017-02-26 19:58] nateozem opened #208 "Feature request: lint for variable statement"
I'm not sure if this shouldn't be an issue, but here is the problem:
[code]
Expected error:
[code]
These are undefined. I hope there is a lint for catching statements like these that aren't proper variable declaration.

I wouldn't mind looking into adding this. Please let me know where to look.

[2017-02-28 20:41] nateozem commented on #127
I wouldn't mind helping. What is the best way to contact you for questions?

[2017-03-06 15:06] Kuniwak commented on #127
Sorry for my late reply.

Please contact me via email.
My email address is `orga.chem.job+github@gmail.com`.

[2017-03-19 14:29] tomtom opened #209 "Support for vim8 lambda expressions"
Could you please add support for vim8 lambda expressions?

    {args -> expr}

Alternatively, is there a way to make vint skip certain lines entirely (so that it doesn't even try to parse them)?

Thanks!

[2017-03-20 05:08] Kuniwak commented on #209
Thanks for reporting!
I'm glad because I'm an user of tcomment_vim :smile:

Currently, vim-vimlparser that Vint is using does not support lambda yet, so Vint cannot recognize it.

In the past, I have decided to use the external Vim script parser because I had no time to implement it. But now, vim-vimlparser is not actively maintained now.
So I'm awaiting to meet a Vim script parser actively mainta

[2017-03-20 21:38] nelstrom opened #210 ":packadd and :packloadall should be permitted"
Vim 8 added [support for packages](http://vimhelp.appspot.com/repeat.txt.html#packages), with these new commands:

* [`:packadd`](http://vimhelp.appspot.com/repeat.txt.html#%3Apackadd)
* [`:packloadall`](http://vimhelp.appspot.com/repeat.txt.html#%3Apackl)

Currently, vint reports `E492: Not an editor command` if either of these commands appear in a script.

[2017-04-21 11:16] blueyed commented on #163
Pending fix in https://github.com/ynkdir/vim-vimlparser/pull/28.

[2017-05-03 08:24] uplus opened #212 "Allow autocmd User"
下記のようにautocmdでUserを使うとエラー扱いされます。

[code]

エラーメッセージ

[code]

[2017-05-27 15:56] jayvdb opened #216 "vim-vint is incompatible with requests 2.16.2"
requests 2.16.2 has been released with a mandatory requirement on chardet >= 3.0.2, < 3.1.0.

`vim-vint` requires `chardet ~= 2.3.0` , which means it isnt possible to use it and `requests` in the same package, otherwise `pkg_resources` will raise `VersionConflict`.

You can see this occurring at https://circleci.com/gh/jayvdb/coala/298

[2017-05-28 05:00] jayvdb commented on #146
So this is likely solved by upgrading the requirement to 3.0.0, which was released 12 April 2017.

[2017-05-28 05:02] jayvdb commented on #146
And we have two PRs which do bump the requirement, https://github.com/Kuniwak/vint/pull/215 and https://github.com/Kuniwak/vint/pull/217 , but neither set the lower limit to 3.x

[2017-05-28 05:03] polyzen commented on #146
There was [another issue](https://github.com/chardet/chardet/pull/107#issuecomment-301206527) since then, so 3.0.3 is the way to go.

[2017-05-28 05:11] jayvdb commented on #146
I've used chardet ~= 3.0.2 as some distros will still have 3.0.2, but 3.0.3 will be used by default.
So any bugs in vint due to 3.0.2 will be because the distro hasnt upgraded, and pressure on the distro is the best solution.

[2017-05-30 12:01] Kuniwak commented on #216
I shipped the fixed version. Please check it.
https://pypi.python.org/pypi/vim-vint/0.3.12

[2017-05-30 12:04] Kuniwak commented on #212
@uplus この警告は、autocmd がグループ付きでなく、かつ augroup で囲まれていない時に出るものです。提示いただいたコードは augroup に囲まれているのかどうか確認をお願いいたします。

[2017-05-30 12:33] jayvdb commented on #216
Thanks so much ; we are doing a rebuild to check, then will close this if all is green again and we can go back to pretending that we can safely rely on external python packages.

[2017-05-30 13:25] uplus commented on #212
augroupに囲まれていませんでした。
どうやらUserをグループと勘違いしていたようです。
ありがとうございました!

[2017-05-30 13:25] #212 closed

[2017-05-30 14:03] jayvdb commented on #216
All good.

[2017-05-30 14:03] #216 closed

[2017-05-31 06:51] Coacher opened #222 "Allow newer verions of the required packages"
Hello.

vint requires exact versions of several packages. These versions are outdated nowadays.
Please allow vint to be used with newer versions.

|   package  | vint requires | latest version |
|:----------:|:-------------:|:--------------:|
| pytest     | == 2.6.4      | 3.1.0          |
| pytest-cov | == 1.8.1      | 2.5.1          |
| coverage   | == 3.7.1      | 4.4.1          |
| mock

[2017-05-31 08:40] Coacher opened #223 "Tests fail if vint is not installed"
Hello.

test/acceptance/test_cli.py calls `vint` with args. When vint isn't installed there is no `vint` command in PATH, so tests fail. Also relying on the installed `vint` executable defies testing purposes as already installed version is tested, not the current one.

Solution: explicitly call `bin/vint`. Fix: `sed -i -e "s|'vint'|'bin/vint'|g" test/acceptance/test_cli{,_vital}.py`

[2017-05-31 10:23] Coacher commented on #222
Also pathlib dep uses `==`, which can possibly break vint in the future.

[2017-06-03 14:29] blueyed opened #224 "KeyError: 'USERCMD' with `Neomake! dummy`"
A line like `Neomake! dummy` will cause a KeyError:

[code]

[2017-06-03 15:03] blueyed commented on #224
It's a vimlparser issue, will forward it there.

[2017-06-04 01:42] blueyed opened #225 "UnicodeDecodeError with chardet 3"
The following minimal vim file will cause an error:
[code]

[code]

`encoding_hint` in `parse_file` from `chardet.detect(bytes_seq)` is: `{'encoding': 'Windows-1254', 'confidence': 0.5658124254347925, 'language': 'Turkish'}`.

With chardet 2.3 it is `{'encoding': 'ISO-8859-2', 'confidence': 0.6680924803464797}`.

They seem to temporarily have disabled `ISO-8859-2` as per the README on PyPI.

But a

[2017-06-04 01:51] blueyed commented on #225
For reference: https://github.com/chardet/chardet/issues/128.

[2017-06-05 16:27] blueyed commented on #225
I think vint's `parse_file` should split the input file into chunks at `scriptencoding` lines, since those are meant to specify the encoding afterwards.

[2017-06-10 03:25] machakann opened #227 "Got "ValueError: 92 is not a valid NodeType" with vint 0.3.13"
Hello, thank you for your nice software.

Today I tried the latest version, and I got the following error message:

[code]

with the following Vim script code ({USERPROFILE}\test.vim).

[code]

I've edited a part of path ({USERPROFILE}). I remember that I've gotten a lint error with the previous version but it seems now it throws an exception. Sorry I'm not so clear about python, please tell me if

[2017-07-11 20:12] blueyed opened #228 ""Undefined variable" not triggered in assignment"
Given the following Vim file, only `baz` in the 3rd line is detected as "Undefined variable: baz (ProhibitUsingUndeclaredVariable)":

[code]

[2017-07-29 17:31] lwm opened #229 "`tno` not recognized - 'Not an editor command'"
I see: `Not an editor command: tno <C-h> <C-\><C-n><C-w>h (SyntaxError)`

[2017-07-29 18:47] blueyed commented on #229
You need `--enable-neovim`.
See https://github.com/Kuniwak/vint/issues/130.

[2017-07-29 18:48] blueyed commented on #229
btw: Neomake adds this automatically: https://github.com/neomake/neomake/blob/a5881d9bae9e344f32d5df02a0290a7671be846f/autoload/neomake/makers/ft/vim.vim#L11-L13

[2017-07-29 19:22] lwm commented on #229
Thanks!

[2017-07-29 19:22] #229 closed

[2017-07-30 19:35] w0rp opened #230 "New Rule Suggestion: Prohibit equality comparisons with get() calls with no defaults"
I have a suggestion for a new rule, which I might try and submit a pull request myself for, at some point. I think it would be a good idea to complain about the following code:

[code]

The problem with the code above is that if the key is not defined, then the comparison returns `1`, as the default value is `0`, and `0 ==# 'bar'` returns `1` because the String on the right hand side is first conv

[2017-07-31 05:52] lambdalisue commented on #227
Same here.

[2017-08-01 05:33] wilywampa commented on #224
I get the same error when parsing the following code:

[code]

[2017-08-02 02:47] #227 closed

[2017-08-07 12:46] blueyed opened #232 "ProhibitNoAbortFunction triggered for functions without bang"
[code]

Adding a bang after `function` fixes it.

My use case is the following (where no bang is required):
[code]

[2017-08-08 07:36] w0rp opened #233 "Prefer is# and is? instead of ==# and ==?"
When you compare expressions with String literals, Vint will tell you to use `==#` or `==?` instead of `==`, as `==` changes depending on user configuration, and Vint will do the same with `is` and strings, preferring `is#` and `is?`. I think Vint should go one step further and disallow `==#` or `==?` for String literal comparisons too, and prefer `is#` or `is?` instead.

If you compare `0` with a

[2017-08-13 09:29] darnir commented on #188
Is there some update on this? It would be nice for XDG_CONFIG_HOME to be supported

[2017-08-20 11:37] Kuniwak opened #237 "Registration for PyPI problem"
[code]

[2017-08-20 11:42] Kuniwak commented on #237
Solved by https://stackoverflow.com/a/42098127

[2017-08-20 11:42] #237 closed

[2017-08-20 11:42] Kuniwak commented on #188
This feature was shpped at v0.3.14.
Please try it.

[2017-08-20 13:51] fszymanski opened #238 "Python3: The 'typing>=3.6.2' distribution was not found and is required by vim-vint"
I get this exception:
[code]
`typing` is a standard library in Python 3.

[2017-08-21 03:36] Kuniwak commented on #238
Oops, I'll fix it later.

Thank you for reporting!

[2017-08-22 06:42] Kuniwak commented on #238
@fszymanski Hmmm, I could not reproduce it on MacOSX 10.12.6 with Python3.6

[code]

Could you comment more information, please?

[2017-08-24 11:21] Coacher commented on #223
@Kuniwak, need PR? Really? The sed line with fix is in the OP...

[2017-09-04 13:29] z0rc commented on #188
I eyeballed change in PR and there is one issue remains. Config files include dot at the beginning of filename. When using XDG config folder it discouraged to make files places there as "hidden", the dot prefix should be amended.

Also documentation/README needs to be updated too.

[2017-09-07 13:05] pixelastic commented on #225
I can confirm on my side that the same example file yields similar results:

[code]
[code]
I'm using vint v0.3.12 on a freshly installed computer. I just tested on a older computer, the exact same code works. Both are running Ubuntu 16.04 and installed vint through pip. I checked both `LC_*` environment variables and they are identical. I guess it means the difference is in the used dependencies,

[2017-09-07 13:07] pixelastic commented on #198
I have a similar issue (and similar to #225). Except that in my case, it does not even work from the terminal, even if setting `LC_CTYPE=UTF-8`.

The python encoding test script yields the following results:
```Checking: `/home/tim/.local/lib/python2.7/site-packages/vint/asset/default_config.yaml`
{'confidence': 1.0, 'encoding': 'ascii', 'language': ''}
[code]

[2017-09-13 23:28] AbsurdMagpieScrutinies commented on #238
Installed fine  4.13.0-rc5-686-pae #1 SMP Debian 4.13~rc5-1~exp1 (2017-08-14) i686 GNU/Linux

[code]

[2017-09-14 08:40] blueyed commented on #238
I was maybe only updated after @fszymanski tried it?

[2017-09-15 12:50] sedm0784 opened #241 "substitute() is not :substitute"
When I use the `substitute()` function, I get the following two warnings:

However, both cited sections of the Google Vimscript Style Guide caution against using the `:substitute` *command* which is a different thing altogether.

[2017-09-15 16:43] Coacher commented on #238
Why always require typing when it's needed only with Python<3.5?

[2017-09-15 17:17] blueyed commented on #241
How do you trigger it?

The following does not cause a warning for me:

[2017-09-16 12:40] adrigzr commented on #225
Same here.

[code]

Any news on this topic?

[2017-09-17 21:13] unphased commented on #225
Yeah I have some fancy comments in my vimrc and it totally kills vint

[2017-09-18 13:23] sedm0784 commented on #241
Sorry, I should've written a proper test case for you when I created this issue.

I can't reproduce it, either, now.

[2017-09-18 13:23] #241 closed

[2017-09-19 01:30] Kuniwak commented on #127
@Coacher This project want some co-maintainers. Are you interesteed?
If you interest it, I'm gonna give you write-access permission.

[2017-09-22 14:45] Coacher commented on #127
@Kuniwak, thanks. I'm interested to see this project alive. I cannot help much with new features, but I can work on fixes (starting with trivial ones). Let's do it :)

[2017-09-22 14:57] JackeJR opened #242 "vint errors on unicode characters"
I was using vint.exe on my vimrc when it kept giving me the following error message:

[code]
By trial and error, I narrowed it down to the character: 𝒮
When I removed the line containing the character, all is well.

System: Win 10 Pro x64, python36 x64, cmd codepage 65001
Vint was installed using pip.

[2017-10-08 20:30] polyzen commented on #146
This still affects me (and presumably anyone using [true colors & tmux](https://github.com/vim/vim/blob/37c64c78fd87e086b5a945ad7032787c274e2dcb/runtime/doc/term.txt#L481-L495)) with [chardet >=3.0.3](https://github.com/chardet/chardet/pull/107#issuecomment-301206527). Could anyone confirm?

[2017-10-15 23:46] still-dreaming-1 opened #244 "using command with ! at the end causes vint to crash"
If any file, say, nothing.init.vim, contains this code:
[code]
And then you vint it via `vint nothing.init.vim`, the following crash error is shown:
[code]
Actually the error occurs if the only line is `Codi!!` or even `Codi!`, but I put the other lines in to put a little context around the reason I want to put an `!` at the end of a command is because this is a real command supported by the [Codi

[2017-10-16 00:17] still-dreaming-1 commented on #244
I realize this is not exactly helpful, but just showing it is a real thing, this appears to be the line of code defining this command in that plugin `command! -nargs=? -bang -bar -complete=filetype Codi call codi#run(<bang>0, <f-args>)`

[2017-10-16 00:18] still-dreaming-1 commented on #244
Duplicate of https://github.com/Kuniwak/vint/issues/224

[2017-10-16 00:18] #244 closed

[2017-10-16 21:22] still-dreaming-1 opened #245 "ProhibitImplicitScopeVariable is not an anitpattern"
In my opinion, and probably in most people's opinion, this should not be considered an antipattern or be enabled by default. Most plugin authors prefer to use implicit scope, at least for local variables inside functions. When scope is specified everywhere, the code inside functions becomes less readable. It also trains the reader to ignore the scope, thereby not noticing when a special scope is u

[2017-10-17 02:03] Kuniwak commented on #245
The reason why I implement the rule is a variable name conflict such as `count`.
In Vim script, `count` is implicitly becomes to `v:count`.

But, I think that this problem can be resolved by detecting built-in variable name conflicts.
So, we can change the severity of ProhibitImplicitScopeVariale to Style Problem, and create a new policy such as ProhibitBuiltinVariableNameConflict.

And if most us

[2017-10-17 13:54] still-dreaming-1 commented on #245
That would be great! It is good to know more details about why this is considered an antipattern. I tried looking up the references, but it didn't give any specific examples of problems this fixes, so I really appreciate this example. If you are able to detect built in variable name conflicts, and do that instead of prohibiting implicit scope all the time, that would be perfect.

[2017-10-17 14:51] tjdevries commented on #245
I don't think that'd be terribly difficult to do. Here's the result from `sort(keys(v:))`.

[code]

[2017-10-17 16:57] tyru commented on #245
not all above variables implicitly become to v:var.
seeing Vim's source code, the only below variables (variables with `VV_COMPAT` flag in `vimvars` table in eval.c):

* count
* errmsg
* shell_error
* this_session
* version

[2017-10-17 17:06] still-dreaming-1 commented on #245
Seems like Vim itself should be changed to follow more consistent rules. It should never implicitly change a variable to the `v:` scope.

[2017-10-17 17:14] tyru commented on #245
I don't know much about the history of Vim though, `VV_COMPAT` seems compatible flag, and recent added built-in variables doesn't do such weird behavior.

[2017-10-17 17:16] still-dreaming-1 commented on #245
If it is just a few variables that work that way for backward compatibility reasons, linting for just those variables is a reasonable approach.

[2017-10-17 18:54] tjdevries commented on #245
I think using just `true` in a function should give a linting error. It should be `v:true` almost 100% of the time I think.

It seems reasonable to warn people they are potentially using vim-only variables.

[2017-10-18 16:42] tyru commented on #245
@tjdevries hmm, I often use some variables such like `lnum`, expecting `l:lnum` not `v:lnum`.
IMHO, I *expect*, basically, variable without scope (e.g. `v:`, `l:`) behave like local-scope variable not vim-only variable. and some variables like `count` and `errmsg` are exceptional patterns. so they should be checked as built-in variable name conflicts (now I found that `ProhibitImplicitScopeBuiltin

[2017-10-18 16:44] tyru commented on #245
https://github.com/Kuniwak/vint/wiki/Vint-linting-policy-summary

@Kuniwak above page does not says about enabled/disabled by default. I think currently all policies are enabled by default. is this right?

[2017-10-18 16:54] still-dreaming-1 commented on #245
@tyru I tested it and it is enabled by default. I had to explicitly turn it off to disable the warning when using `count` variable inside a function. So it seems we already have what we want just by disabling `ProhibitImplicitScopeVariable` since `ProhibitImplicitScopeBuiltinVariable` is a thing and is already enabled.

[2017-10-18 16:55] tyru commented on #245
sorry for many questions at once.

@Kuniwak You say

But it seems `ProhibitBuiltinVariableNameConflict` is already implemented as `ProhibitImplicitScopeBuiltinVariable` if I'm not wrong.
Are these two policies identical?

[2017-10-21 07:03] Kuniwak commented on #245
@tyru Oops, you're right. And the severity of ProhibitImplicitScopeVariable is already Style Problem...

Now, I read [the reference of the policy](http://rbtnn.hateblo.jp/entry/2014/12/28/010913) again.

[2017-10-21 07:06] Kuniwak commented on #245
Maybe we should warn only implicit global variables. 🤔

[2017-10-21 14:33] thinca opened #246 "An idea of new rule: "Use <Space> for space at tail in mapping""
[code]

[2017-10-22 15:33] still-dreaming-1 commented on #245
@Kuniwak if you want multiple flexibility, you could split it into 2 separate policies. But if you only want to have policies that are on by default, warning for implicit global variables seems good. I think most of the time, global variables are used for global variables or something similar to that. I think it is good to explicitly think about and declare the scope of every variable outside of a

[2017-10-22 15:36] still-dreaming-1 commented on #245
I would say as far as function local variables go, there should be a policy warning when you unnecessarily explicitly declare the scope to be local.

[2017-10-23 03:47] Kuniwak commented on #246
@thinca I have a question.
What is a severity of the rule?

For example, Vint has three levels of the severity:

<dl>
<dt>Error
<dd>This code is determinately wrong / This code will be cause of errors.
<dt>Warning
<dd>This code is perhaps wrong / This code can be cause of errors.
<dt>Style Problem
<dd>This code has a coding-style problem / This code cannot be cause of errors.
</dl>

[2017-10-23 03:56] thinca commented on #246
I think this is warning.

[2017-10-23 04:24] Kuniwak commented on #246
@thinca I have an additional question.

I don't know why trailing space in map leads to errors.
Could you explain me please?

[2017-10-23 04:39] thinca commented on #246
- Space in tail is hard to notice.
  - You can't see this in GitHub.
- It may be confused with noise.

[2017-10-23 06:45] Kuniwak commented on #246
Hmm, I think the severity of the rule is Style Problem.
Because trailing white spaces cannot be cause of errors at that time.

But I think this rule is useful. Could you send the PR?

[2017-10-23 17:21] still-dreaming-1 commented on #224
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=45863039)](https://www.bountysource.com/issues/45863039-keyerror-usercmd-with-neomake-dummy?utm_source=45863039&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2017-10-24 03:35] thinca commented on #246
I think style problem is just preference.  There is no good or bad.
Warning is for a bad one, also when there is no error.  It should be avoided.

I think there is no merit in the trailing blank.  We should not select this way.  Therefore this is warning.

Very sorry, I have no time now... 🙇

[2017-10-28 11:40] dnebauer opened #247 "ModuleNotFoundError: No module named 'cerf_api'"
Installed vint with `pip install --upgrade vint` which ended with the message:

[code]

Running vint from the console results in the following error traceback:

[code]

[2017-10-28 11:54] Kuniwak commented on #247
The correct package name of Vint is `vim-vint`.
Please upgrade vint the following command:

[code]

[2017-10-28 15:35] dnebauer commented on #247
Ouch. Stupid mistake on my part. Hopefully this issue will help anyone else who makes it. Thanks for your quick response.

[2017-10-28 15:35] #247 closed

[2017-11-04 07:56] Kuniwak commented on #242
Maybe duplicated #225

[2017-11-09 15:14] pixelastic commented on #225
Hey @Kuniwak, I saw you commited fix to this issue recently. Thanks a lot for that!

Do you have an ETA for the next `pip` release of vint that would include the fix?

Thanks again

[2017-11-10 01:46] Kuniwak commented on #225
These commit are in review.

I'm gonna ship it when the review is finished.

[2017-11-12 00:16] Kuniwak commented on #225
This bugfix was shipped at v0.3.15.
Please try it.

[2017-11-12 13:30] blueyed commented on #225
Will try.

It seems however that 0.3.15 has some output of debug info left:

[code]

[2017-11-12 13:33] blueyed commented on #225
The bug itself is fixed, thanks a lot for this huge improvement!  :purple_heart:

[2017-11-13 02:53] Kuniwak commented on #225
@blueyed This bug is handled at #251 .

[2017-11-13 03:04] Kuniwak commented on #225
The debug code was removed at v0.3.16. Sorry for my mistake.

[2017-12-30 13:17] blueyed opened #256 "IndexError with invalid `map()`"
The following `t.vim` triggers an IndexError:, but should rather point out that `expr2` is missing.

[code]

[code]

Printing `node` there gives:

[2018-01-04 12:18] Kuniwak commented on #256
This bug was fixed at v0.3.18. Please try it.

[2018-01-14 19:02] blueyed opened #261 "Wrong offset with undefined var in map expression"
Given `t.vim`:
[code]

Running `vint t.vim` displays:
[code]

The columns here should be 15 and 23, and not 14 and 22.

[2018-01-14 19:07] blueyed commented on #256
Thank you, works!

[2018-01-14 19:07] #256 closed

[2018-01-14 19:35] blueyed commented on #179
Just came across this again.
It is a vimlparser issue: https://github.com/vim-jp/vim-vimlparser/issues/79.

[2018-01-23 06:15] Kuniwak commented on #261
Hmm... I had a quick look for the problem, but I did not reach the cause yet.

I think this problem can be caused by https://github.com/Kuniwak/vint/blob/master/vint/ast/parsing.py#L104-L114. But I tested the behavior by https://github.com/Kuniwak/vint/blob/master/test/unit/vint/ast/test_parsing.py#L83.

[2018-01-23 06:19] Kuniwak commented on #261
I'm gonna investigate the problem.

[2018-01-24 21:11] blueyed opened #263 "ProhibitAbbreviationOption only checked for first arg to :set"
Given `t-option.vim`:
[code]

vint will only complain about `ts`, but not `noet`:
[code]

The policy looks at only the first word here: https://github.com/Kuniwak/vint/blob/8c34196252b43d7361d0f58cb78cf2d3e4e4fbd0/vint/linting/policy/prohibit_abbreviation_option.py#L59.

I think this should loop over all arguments?

[2018-01-24 21:14] blueyed commented on #263
When looping it should be possible to return multiple descriptions however - instead of just one.

It might also be good enough to check all options, and use the desc of the first invalid one.

[2018-01-24 21:18] blueyed commented on #263
This seems to be good enough:
[code]

[2018-01-25 21:12] blueyed commented on #263
It would need a test anyway etc.
You are welcome to using my patch as-is if you think it is any good.
Please let me know if I should really create a PR and I will do it, of course.

[2018-01-27 17:04] thinca opened #264 "An idea of new rule: Must not use augroup in ftdetect/*.vim"
`:help ftdetect`

refs:
This PR added `augroup` to `ftdetect/gofiletype.vim` according to vint's warning.
https://github.com/fatih/vim-go/pull/1558/files#diff-349dca49094d5651df28e5df61a4e0c9
This PR fixed it.
https://github.com/fatih/vim-go/pull/1645

[2018-02-06 22:04] polyzen commented on #146
Fixed by #248, but this may require manual intervention (use of `scriptencoding` in affected scripts).

[2018-03-01 00:21] blueyed commented on #261
It seems to be a generic offset error.

With `echo map([], '''foo'' . s:bar')` I get:

But s:bar is at 25.
It looks like the double-escaped quotes (`''`) are not taking into account correctly.

[2018-04-06 21:13] blueyed commented on #232
There are two issues here:
1. no bang should be require here
2. the missing bang triggers another error, for something that is there alread (the "abort")

[2018-04-11 21:54] blueyed opened #266 "Configuration for ProhibitUnusedVariable"
I would like to configure `ProhibitUnusedVariable` (which is not enabled by default currently) to ignore variables named `_`.

I could also imagine to make this the default.

Apart from that vimlint allows to configure this for specific variables:
[code]

Configuration based on e.g. `identifier.value` does not appear to be possible with vint, is it?

[2018-04-11 22:16] blueyed opened #271 ""unexpected token" with undefined var as dict key"
Given `t.vim`:
[code]

`vint t.py` says:
[code]

vimlint however correctly says:
[code]

[2018-04-11 22:17] blueyed commented on #271
Since this appears to come from vimlparser I should probably check if the same version is used in both cases?!

[2018-04-13 09:52] blueyed commented on #245
I think we should be fine with https://github.com/Kuniwak/vint/pull/273 then.
I'm getting a warning when using `count` in a function:

There are some more things here to consider/discuss, but not using ProhibitImplicitScopeBuiltinVariable by default is a good first step IMHO.

[2018-04-13 21:49] blueyed commented on #271
It also happens when the var is defined:
[code]

[2018-04-17 08:16] blueyed commented on #189
Just for reference: `test/fixture/ast/inline_python.vim` has been added (probably accidentally) in 9816a31.

[2018-05-19 06:28] #245 closed

[2018-05-19 06:37] Kuniwak commented on #127
@blueyed I'm sorry for my less activity on this project. Currently I do not spent much time for Vint, so I want some co-maintainers.  Are you interesteed?
If you interest it, I'm gonna give you write-access permission.

[2018-05-19 14:36] blueyed commented on #127
@Kuniwak
Sure, this is a great project.
Thanks for all your work so far!

[2018-05-19 16:02] blueyed commented on #127
@Kuniwak
btw: I would be nice to document the release process, and maybe even configure Travis to do it based on tags.  For reference: https://github.com/pytest-dev/pytest-django/blob/8bd3d3ea058fbe337db69d8c0256b995351b4161/.travis.yml#L37-L49.
This means that you should either give me access to PyPI also (not really necessary), or then provide the "travis encrypt" for your account.

[2018-05-23 06:49] Kuniwak commented on #127
Thanks! I've invited you as repository collaborator and PyPI maintainer.

[2018-06-15 13:46] Kuniwak opened #274 "Strike false positives of ProhibitUnusedVariable"
[code]

[2018-06-15 14:13] rhysd commented on #274
Let me report two false-positive patterns I faced:

[code]

[2018-06-15 14:18] Kuniwak commented on #274
Both problems can be caused by the traversing function. In my guess, the function do not visit the variable expression node in `l:{x}` and `call('s:foo')`.

I'm gonna add unit tests for the behavior.

[2018-06-15 14:36] Kuniwak commented on #274
I misunderstood the first problem. Now I think the first one is a hard problem because Vint can not get actual name from `l:{x}` in most cases. Vint can do right thing only when the `x` is a constant.

[2018-06-15 15:16] rhysd commented on #274
I updated the code snippet. I'm sorry for confusion

[2018-06-18 07:35] #183 closed

[2018-06-29 00:56] jayvdb opened #279 "Allow PyYAML 4.x"
PyYAML 4.x is out, and includes fixes for security vulnerabilities and other good stuff.

vint is currently pinned to 3.x . This means other packages in the same environment can not depend on 4.1, otherwise a Conflict exception is raised.

I've done a build with 4.1 and the only error appears related, in that pypy isnt supported  by 4.1 ;(:

https://travis-ci.org/jayvdb/vint/builds/397900637

[2018-06-29 02:19] jayvdb commented on #279
Ugh. It hasnt been released to pypi yet.

[2018-06-29 02:39] Kuniwak commented on #279
I found that PyYAML 4.1.0 was tested for pypy and it was passed:

- https://github.com/yaml/pyyaml/blob/master/.travis.yml#L21
- https://travis-ci.org/yaml/pyyaml/jobs/398023191

And I think the exception is defined on [tox](https://github.com/tox-dev/tox/blob/4e7d9091f1f7ffd8042936fe25cd2f66e196f57c/src/tox/exception.py#L55).
So the error cause may be latest changes of tox such as [this](https://

[2018-06-29 02:40] jayvdb commented on #279
https://github.com/yaml/pyyaml/issues/190 for tracking pypi problem.

[2018-06-29 02:42] Kuniwak commented on #279
Ah, I see. Thank you for your explanation.

[2018-06-29 04:40] Kuniwak commented on #266
Sorry for my late reply.

It can be configured by `policies.ProhibitUnusedVariable.ignored_patterns` since [v0.4a1](https://github.com/Kuniwak/vint/releases/tag/v0.4a1). This is the example for ignoring `_` and `__` and so on:

[code]

But now it is not default option. Because I do not know whether the meaning of `_` is widely agreed or not.

[2018-06-29 04:44] Kuniwak commented on #274
@rhysd This fixes were shipped at [v0.4a1](https://github.com/Kuniwak/vint/releases/tag/v0.4a1). Please try it.

[2018-06-30 08:51] blueyed commented on #266
Thanks a lot!
The example pattern should be `'^_'` maybe (if added to docs) - it would match both `_foo` and just `_`.

[2018-06-30 09:23] blueyed opened #284 "Functions used in commands or autocommands are reported as unsued"
[code]

[code]

Using vint master (0.4a1+).

[2018-06-30 11:09] blueyed commented on #284
Apart from that ProhibitUnusedVariable works very well for Neomake: https://github.com/neomake/neomake/pull/1988.
I have used `ignore_pattern` `'^s:'` to work around this for now.

[2018-06-30 11:10] blueyed commented on #274
I have created https://github.com/Kuniwak/vint/issues/284 for an issue with `s:` functions used in (auto) commands in particular.

[2018-07-02 17:53] somini opened #285 "ProhibitAutocmdWithNoGroup: Ignore for buffer-specific autocommands"
This rule should be relaxed to allow for defining autocmd outside augroup, as long as the `<buffer>` option is set.

This is used for example to create filetype-specific autocommands by placing them in a `filetype/&filetype/commands.vim` file or similar.

[2018-07-02 17:55] somini commented on #285
See https://github.com/Kuniwak/vint/blob/172b1105b288ac0c85448534d520213d24fe78d3/vint/linting/policy/prohibit_autocmd_with_no_group.py#L35-L42

[2018-07-05 19:54] dbarnett commented on #266
Thanks for implementing this! I tried it out and it worked nicely.

I ignored the pattern `'^unused.*'` in my case. Would it be possible to configure that one as ignored by default? It's a pretty widely accepted convention, and anyway I would be awfully surprised if anyone complained that they were expecting to see warnings about unused variables named "unused".

Have you considered semantics for

[2018-07-07 16:42] da-x opened #286 ""E492: Not an editor command" over a regex used in syntax"
I'm trying to run Vint on `syntax/rust.rs` from [rust.vim](https://github.com/rust-lang/rust.vim):

[code]

I'm getting:
[code]

On a side note, was not able to suppress the error via:

[code]

Seems ineffectual.

[2018-07-07 16:45] da-x commented on #286
(Reproduces on master as well)

[2018-07-07 21:17] brycepg commented on #224
Fixed by 7885aea12d71dd322fdbc2d99c64e24c2c602cb7

[2018-07-07 21:49] blueyed commented on #224
Yep, fixed on master - thanks!

[2018-07-07 21:49] #224 closed

[2018-07-07 21:51] blueyed commented on #224
Confirmed to be 7885aea.

@rhysd
You should claim the bounty (see above).

[2018-07-09 09:52] rhysd commented on #224
@blueyed
Thank you for mentioning me! I didn't notice that.
But I want @Kuniwak to take the bounty since he is continuously improving vint. I feel he is more suitable.

[2018-07-09 15:15] Kuniwak commented on #266
@blueyed I think `_foo` might meant just private component. So, I used only `_` and `__` as the example.

[2018-07-09 15:17] Kuniwak commented on #266
@dbarnett I have never seen it, so I interest the actual example. Could you provide the example that using `unused.*`?

[2018-07-10 14:44] blueyed commented on #266
@Kuniwak

Yes, "_" might be used, but I think `Foo(_bar, _baz)` is better than `Foo(_, _)` - since you can still see what the unused arg is (and it might even be not allowed to use `_` twice.

[2018-07-10 16:17] Kuniwak commented on #266
Ah, I see. I think we can avoid the problem by repeating `_` like the folowing `Foo(_, __, ___)`, but it is not readable way. I think the better approach may be creating `only_function_args: true` to `ignored_patterns`:

[code]

But I feel it is complex...

[2018-07-10 16:37] dbarnett commented on #266
AFAIK it's not that common for vimscript plugin authors to care about scrubbing unused variables (and false positives) from their projects yet so I wouldn't expect you'd see such conventions used much in vimscript projects in the wild. All the Google code checking tools I've used for different languages support `unusedBlah` or `unused_blah`, and you can find examples in Google projects, for instan

[2018-07-10 17:20] still-dreaming-1 opened #287 ""ImportError No module named pathlib" on startup"
I just did a fresh install of vint via `pip install vim-vint`. Then when I run `vint`:

Here is my .vintrc.yaml:

[code]

I also tried it with only the neovim:true setting, with a blank settings file, and I even tried deleting the settings file, but I get the same output on running vint.

I'm on Ubuntu 16.04 LTS. Additional system info:

[2018-07-10 21:33] blueyed commented on #266
Why?
I think just using `^_` is fine.
I am not really convinced about `^unused_` - but `^_|^unused_` would be fine for me - or `^(?:_|unused)` (`?:` to not create an unnecessary group).

[2018-07-10 21:34] blueyed commented on #266
I think it is good for `let bar, _ = list` then already, too.

@dbarnett
Woul you use `let bar, unused_seconditem = list` in this case?

[2018-07-11 10:03] Kuniwak commented on #287
Thank you for reporting.

I'm gonna try to reproduce it later. Until then, I think you can fix ad hoc it by installing pathlib manually:

[code]

[2018-07-11 16:58] still-dreaming-1 commented on #287
Ok, I did that, and then:

The final result being that it cannot import name unique, even after I pip installed unique.

[2018-07-12 03:19] Kuniwak commented on #287
@still-dreaming-1 I think you should install [`enum34`](https://github.com/Kuniwak/vint/blob/master/setup.py#L15) instead of `enum`. Could you try the following command?

[code]

[2018-07-12 15:58] dbarnett commented on #266
@blueyed `let [foo, _] =` or `let [foo, _bar] =` is fine. As a project maintainer I prefer named `unused_foo` placeholders where it's reasonable, but I'd definitely vote for `^_|^unused` because I don't see any reason an unused variable checker should complain in either of those cases and I'd expect to see both in the wild.

[2018-07-12 16:12] Kuniwak commented on #266
@dbarnett Thanks. This actual example makes sense. I'm gonna add `^unused_` to the default.

@blueyed I worry that `ignored_pattern: ^_` can make false-negatives as the following:

[code]

So, I think we should limit the variable type that `ignored_pattern: '^_'` applied. Then the variable type might be only function/lambda arguments because unuvoidable unused variables are typically function/lamb

[2018-07-12 16:20] still-dreaming-1 commented on #287
That worked, thanks!

[2018-07-12 18:33] blueyed commented on #266
@Kuniwak

Oh, I see what you mean now.
However private variables are not a thing in Vim really, are they?

I can imagine `g:myplugin#_internal` (should not be matched by `^_`, or `g:_something_internal` (would get matched) though.

[2018-07-12 21:50] blueyed commented on #287
JFI: seeing this on Travis myself: https://travis-ci.org/blueyed/vim-qf_resize/jobs/403314506#L474

Not important currently for me, but might help to find out what is happening.

[2018-07-13 12:49] wsdjeg commented on #287
I still get this issue:

https://travis-ci.org/SpaceVim/SpaceVim/jobs/403536165

[2018-07-15 00:12] blueyed commented on #287
The problem is that a wheel gets used, but the requirements in setup.py are dynamic.

[2018-07-15 00:37] blueyed commented on #238
Later/current setup.py improves/fixes this.
See #288.
I think this issue can be closed already.

[2018-08-22 13:29] blueyed commented on #222
See https://github.com/Kuniwak/vint/pull/288 for fixing requirements in general.
pathlib should be fixed there then maybe already: https://github.com/Kuniwak/vint/pull/288/files#diff-2eeaed663bd0d25b7e608891384b7298R15

[2018-09-05 09:08] jadero opened #290 "Get PosixPath NotImplementedError in Windows"
Error originates from linting/cli.py. Using PurePosixPath instead seems to fix this.

[2018-09-08 15:14] blueyed commented on #232
The doc of the function says that it also checks for bangs: https://github.com/Kuniwak/vint/blob/93e8753476de38ffca2a40e1f04035042c0a5dd6/vint/linting/policy/prohibit_no_abort_function.py#L24

So the issue is more due to confusion: it should either mention that it checks both bang and abort, or this should be split into separate rules.
What do you think?

[2018-10-19 18:20] Cbhihe opened #291 "Setup guide for users"
Trouble in paradise....  to install `vint` as a syntax checker for `vim` scripts.
 I (like so many) use `syntastic` and the `vundle`  plugin manager.
I have trouble installing `vint` as a linter despite having done that for a little over half a dozen times for other syntax checkers.
- I cloned  https://github.com/Kuniwak/vint in my `~/.vimrc/bundle`.
- I placed `Plugin 'Kuniwak/vint'` between `cal

[2018-10-22 06:57] blueyed commented on #291
Just for info: on Arch Linux you can install python-vint from the AUR.  And as you figured out you do not have to add it to your vimrc etc, but only make the `vint` executable available.
btw: Neomake also supports vint out of the box, and is async (in contrast to Syntastic).

[2018-10-22 08:17] Cbhihe commented on #291
Thanks much Daniel, that too would deserve a line in the readme or perhaps in an installation faq....

[2018-10-24 08:48] #291 closed

[2018-10-27 12:04] Cbhihe opened #292 "Kuniwak/vint suddenly quit working completely with warning at every check"
_[Vim 8.0.1 / Syntastic 3.9.0-19 / Vundle 0.5 / vint 0.3.19 on Arch Linux]_

`Kuniwak/vint` seems to be broken and I don't quite understand why.
It's been working fine in its present configuration, until yesterday morning. I get the following error message, when I write any buffer identified
as 'vim' filetype to disk:

    `syntastic: warning: checker vim/vint: unrecognized error format (crashed c

[2018-11-03 22:43] natemaia opened #293 "Undefined variable when used within braces"
Consider the following bit of vimscript

[code]

Would it be possible to 'expand' the variable `val` when used as a name for another variable? eg.
[code]

This would avoid the need to have `" vint: -ProhibitUsingUndeclaredVariable` at the top of my file when using the above code to define optional variables.

Cheers

[2018-11-18 08:35] blueyed commented on #274
@rhysd
Have you tried v0.4a1?

@Kuniwak
Any idea about #284 (script-local functions)?

[2018-11-18 08:36] blueyed commented on #290
Please consider creating a PR, and also check with master first.

[2018-11-29 14:51] #287 closed

[2018-11-29 18:03] tyru commented on #238
This problem occurs on Travis CI.
https://travis-ci.org/tyru/open-browser.vim/builds/461401543

[code]

My setup is wrong?
https://github.com/tyru/open-browser.vim/blob/b900ff9d39bb36891704bd0fe76737ee3a7ac2b9/.travis.yml

[2018-11-29 18:15] blueyed commented on #238
You are not using vint master, are you?
I've just merged https://github.com/Kuniwak/vint/pull/288, which should fix/address this.

[2018-11-29 18:16] blueyed commented on #238
As a workaround you should install `typing` manually I guess (or use Python 3.6+).

[2018-11-29 18:16] blueyed commented on #238
Should be fixed by #288, but only for 4.0+ / master.

[2018-11-29 18:16] #238 closed

[2018-11-30 00:17] tyru commented on #238
@blueyed
Ah, the latest version is not uploaded to PyPI, okay.
I'll fix .travis.yml if I have a time, or just wait until the next release.
Thanks!

[2018-12-07 16:43] blueyed commented on #290
This was reported for Neomake in https://github.com/neomake/neomake/issues/2172.
It appears to be fixed in 4.0a1 apparently - try `pip install --pre vim-vint`.

Hopefully there will be a release shortly.

[2018-12-07 16:43] #290 closed

[2018-12-14 00:55] blueyed commented on #210
Fixed in a477d9d.

[2018-12-14 00:55] #210 closed

[2018-12-14 00:56] blueyed commented on #209
Lambdas are handled by now.

[2018-12-14 00:56] #209 closed

[2018-12-14 00:59] blueyed commented on #223
Fixed in 8c34196.

[2018-12-14 00:59] #223 closed

[2018-12-14 01:00] blueyed commented on #206
Duplicate of https://github.com/Kuniwak/vint/issues/261.

[2018-12-14 01:00] #206 closed

[2018-12-15 11:21] samvv opened #296 "Add a security policy"
Thanks for this great piece of software! It could potentially save me lots of time while I try to implement a new [project-based `.vimrc` loader](https://github.com/samvv/saferc.vim). In fact, I thought it might be useful if there's an additional policy, named `ProhibitUnsecure`, that errors whenever an expression is found of which the linter cannot guarantee that a hacker might use it to do somet

[2018-12-15 12:48] samvv commented on #296
@blueyed Thanks for the feedback. Actually, I didn't know about this particular plugin. I only found https://github.com/LucHermitte/local_vimrc. The plugin you provided seems like more than enough for me. I'll leave it open, but feel free to close it.

[2019-01-28 03:03] yhkaplan commented on #279
This vulnerability was announced FYI.

[code]

https://nvd.nist.gov/vuln/detail/CVE-2017-18342

[2019-01-28 12:03] blueyed commented on #279
`yaml.load` is used in https://github.com/Kuniwak/vint/blob/bf5a33f03bbf20ed3e21b6819b311270f9240cf7/vint/linting/config/config_file_source.py#L16, and should probably be changed to `safe_load` (IIRC).

[2019-01-29 09:52] blueyed commented on #279
Patch might look like this:
[code]

However, PyYAML 3.13 still is the latest stable release.
In #298 I've changed it to use `yaml.safe_load` for now.

[2019-01-29 09:59] blueyed opened #299 "Release 0.3.20"
I've created a branch, planning to release 0.3.20: https://github.com/Kuniwak/vint/tree/stable-0.3

It is forked from v0.3.19, and only contains the fix to use `yaml.safe_load` for now.

[2019-02-13 06:19] jayvdb opened #300 "Include tests in source tarball"
The tests should be included in the source tarball so that they can be run in RPM .spec section `%check`

Building at https://build.opensuse.org/package/show/home:jayvdb:coala:python3-bears/python-vim-vint

[2019-02-13 06:20] jayvdb commented on #299
c.f. https://github.com/Kuniwak/vint/issues/300 , a packaging enhancement so RPMs can be built from the pypi release.

[2019-02-15 07:52] oblitum opened #301 "scriptencoding warning for files with BOM"
Vim help says that if files starts with BOM, `scriptencoding` isn't needed, but Vint still gives the warning.

[2019-02-20 17:23] luisfelipemourapereira opened #302 "Vint autofix"
Is there any intention/roadmap for vint to include a safe autofix?

[2019-03-06 16:52] blueyed commented on #302
Nothing planned AFAIK.

Just for reference: I have some WIP for Neomake to add support for fixing issues, and it allows to ignore entries with Vint at least already: https://github.com/neomake/neomake/pull/2023

[2019-03-11 11:24] #232 closed

[2019-04-03 13:04] ebkalderon opened #305 "Linting scripts from stdin is broken"
## Environment

* `vint` 0.3.19
* Python 3.7.3
* macOS Mojave 10.14.3 (18D109)

## Description

It seems that linting Vim scripts from stdin sometimes fails, depending on the method of input used and whether the script contains errors or not.

### Script with warnings

1. Create a new file `has-warning.vim`.
2. Enter and save the following text: `autocmd FileType sh setlocal shiftwidth=2`. This sh

[2019-04-03 20:40] blueyed commented on #305
I believe that's fixed on master, can you try?

[2019-04-04 09:59] ebkalderon commented on #305
@blueyed Sweet, it behaves as expected on `master`. Is there a new release on the way soon? I am running into issues properly integrating `vint` into my editor with the version currently available via `pip`.

[2019-04-04 11:32] blueyed commented on #305
Cool, closing then.

Unfortunately @Kuniwak seems to have disappeared.  IIRC I could do a release, but do not have the time/energy for this currently myself - I think some work needs to be done for v4 still.

[2019-04-04 11:32] #305 closed

[2019-04-04 11:45] ebkalderon commented on #305
I see, I suppose I will stick to tracking the source in `master` in the meantime. Thank you for continuing to maintain the project!

[2019-04-06 05:52] systemmonkey42 opened #306 "Support for [new] .. string concatenation operator introduced in vim 8.1.1114"
patch 8.1.1114: confusing overloaded operator "." for string concatenation

Problem:    Confusing overloaded operator "." for string concatenation.
Solution:   Add ".." for string concatenation.  Also "let a ..= b".

Vint currently doesnt understand '`..`' as a string concatenation operator.

[2019-04-06 07:27] blueyed commented on #306
Thanks for the report.
Needs to go into vimlparser first I guess: https://github.com/vim-jp/vim-vimlparser/issues/95

[2019-04-10 17:37] blueyed commented on #300
A patch for this would be welcome.

[2019-04-11 08:40] blueyed opened #310 "Make ProhibitUnnecessaryDoubleQuote a style issue"
It should become a style issue, and a new warning should be added for probably wrong escapes in double quotes.

Via https://github.com/Kuniwak/vint/pull/272#issuecomment-481758464.

[2019-04-13 20:21] blueyed opened #311 "config files should be read also based on a file's location"
It appears to only consider the current working directory, but should use the file itself (and its parent directories) instead.

[2019-04-14 14:14] Kuniwak commented on #310
I changed my thought because I've understood what you said:

Your comment is completely right, so I agree that ProhibitUnnecessaryDoubleQuote is a style problem.

[2019-04-14 18:00] blueyed commented on #310
@Kuniwak
Cool!

And I am glad you're back! :)

I've started working on this a few days ago already, and it should work out like expected.

[2019-04-22 03:12] jdhao opened #312 "can not detect variable declared inside python script:"
If I declare a variable inside python script and use it in plain vim script, I will the get the warning message like the following:

A sample script to generate the warning message is:

[code]

[2019-05-13 22:34] blueyed commented on #299
Released, mainly to fix issue(s) with pyyaml.
Sorry for not including #300, but it was tedious enough already.. :/

[2019-05-13 22:34] #299 closed

[2019-05-13 23:16] blueyed opened #315 "Setup PyPI deployment through Travis"

[2019-05-13 23:17] blueyed commented on #279
Unpinned in 0.3.21.

[2019-05-13 23:17] #279 closed

[2019-05-13 23:37] blueyed commented on #299
@Kuniwak
I would appreciate it if you could delete https://pypi.org/project/vim-vint/0.3.20/#history (released 0.3.21 afterwards).  While I can upload, I cannot delete releases apparently.

[2019-05-22 20:32] blueyed opened #316 "Warn about not using `l:` prefix with uppercase variable names"
Those might cause `E705: Variable name conflicts with existing function: F.`.

Ref: https://github.com/neomake/neomake/pull/2370

[2019-06-10 15:59] jayvdb commented on #315
Sort of relevant here, https://pypi.org/project/vim-vint/ has a 0.3.21, but https://github.com/Kuniwak/vint/releases does not.

[2019-06-10 16:01] blueyed commented on #315
@jayvdb
Pushed the missing tag, thanks.

[2019-06-10 16:09] jayvdb commented on #290
The local reference to PosixPath was removed in 3a2729eb , which is only released as part of pre-release v0.4a1 , so 0.3.x is still effected.  Code is https://github.com/Kuniwak/vint/blob/stable-0.3/vint/linting/cli.py#L129

Note I am happy to wait, as I dont use Windows - I was just a little confused when it didnt appear to be fixed  in the latest release for the coala CI.

[2019-06-10 16:16] blueyed commented on #290
@jayvdb
Thanks for the reference.
The 0.3.x releases were only to fix critical things.
We should really have 0.4 sometime soon, until then I recommend to use master.

[2019-07-11 08:47] tyru opened #317 "Confusing error for :function without ! in autoload/"
## Got

The error message does not say about `!` is missing in `:function`.

[code]

## Expected error

[code]

[2019-07-16 11:59] XVilka commented on #310
I asked directly: https://github.com/vim/vim/issues/4590#issuecomment-511765523

[2019-07-18 14:53] blueyed commented on #317
Fixed in master: https://github.com/Kuniwak/vint/pull/304:

[2019-07-18 14:53] #317 closed

[2019-07-19 15:22] tyru opened #321 "Detect read only variables and show error "Use :const for read only variable: {varname}""

[2019-07-19 15:24] tyru commented on #321
sorry I hit ctrl+enter even when empty body.

@Kuniwak @blueyed
is this possible? currently does vint like that detection?

[2019-07-19 17:39] blueyed opened #322 "ProhibitNoAbortFunction: only check for abort"
There should be a new rule/policy for checking the bang, but it is deprecated in Vim itself (https://groups.google.com/d/msg/vim_dev/CkqcxQgntVg/JjYGnLP8BwAJ).

[2019-07-19 17:42] blueyed commented on #321
Not sure what you mean really.

Do you mean that readonly variables should be detected, and then using "const" suggested for it?

[2019-07-19 18:43] tyru commented on #321
Yes.
I think I'm requesting too much, but it would help...

[2019-07-19 18:46] tyru commented on #321
eslint seems to have same policy. this is what I want to do.
https://eslint.org/docs/rules/prefer-const

[2019-07-19 20:24] blueyed opened #323 "Switch to setupmeta"
In https://github.com/Kuniwak/vint/commit/997677ae688fbaf47da426500cc56aae7305d243 setuptools_scm was added, but never released.
I like setupmeta more, so it should be used for the next release.

[2019-07-19 20:29] blueyed commented on #63
Fixed in ca29d96.

[2019-07-19 20:29] #63 closed

[2019-07-19 20:34] blueyed commented on #186
With v0.3.20 I get:

[code]

Fixed in bf5a33f.

The initial error appears to have been fixed before then already.

[2019-07-19 20:34] #186 closed

[2019-08-06 23:34] tyru opened #326 "Vint ignores some errors"
I don't know whether this is specific to vim-jp/vim-vimlparser though 🤔

* https://github.com/vim-jp/vim-vimlparser/commit/0844cfaf1d6004253f3308cfb06aec974bbedf35
* https://github.com/vim-jp/vim-vimlparser/pull/136#issuecomment-517650612

[2019-09-25 01:11] #195 closed

[2019-09-25 01:13] #300 closed

[2019-09-27 02:45] blueyed opened #328 "policy: check for non-local options being set with "setlocal""
You might accidentally use `setlocal modelines=0`, assuming that this would be a local option, but then it sets the global option instead.

Therefore it would be nice if vint could warn about this.

[2019-09-30 22:02] #306 closed

[2019-10-21 17:06] natebosch commented on #285
It should also allow with `++once`.

[2019-10-21 17:15] natebosch opened #329 "vint: next-line syntax is broken"
If I add a line:

[code]

I get warnings (more than one for some reason)

[code]

I based this comment on the example in the readme.

I'm on version `0.3.21` installed with `pip`

[2019-10-21 20:23] blueyed commented on #329
It does not work in 0.3.21, but only later (added in https://github.com/Kuniwak/vint/commit/efff450ae8c88935af05d2fb0a4373df52eb48d4 apparently).
I recommend using master.

[2019-10-21 20:23] #329 closed

[2019-10-22 15:13] mbrinkme opened #330 "Using vim-vspec causes "Error: vint: E492: Not an editor command": describe"
I use vspec (https://github.com/kana/vim-vspec) to test vim functions. DSL Keywords are e.g. `describe`, `context`, `it`.

[code]
Filename: `add_debugger_spec.vim`

This code produces this error:
**Using vim-vspec causes "Error: vint: E492: Not an editor command": describe '#AddDebugger' (see vim-jp/vim-vimlparser)**

How could I handle these keywords that is originally no vimscript? Could I add s

[2019-10-22 16:01] blueyed commented on #330
There's no easy way currently AFAIK - but you could e.g. visually select and manually run `vint -` on it then etc..

Would be nice if this would work however.
I am using Vader for tests myself, where the blocks ("Execute (…):") seem to work with vint, but I am not using vint as a linter by default for the test files (`.vader`) currently.

I think it is not really trivial, since every block would n

[2019-11-18 01:32] steelbluelee opened #332 "Linting from stdin is crashed."
I installed vim-vint using "pip3 install using "pip3 install vim-vint --user" on ubuntu 19.04.
vint version is 0.3.21

When I run "vint - < .vimrc", I have the following result.

sklee@ubuntu:~$ vint - < .vimrc
Traceback (most recent call last):
  File "/usr/local/bin/vint", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/vint/__init__.py", line 11, in main

[2019-11-19 01:19] steelbluelee commented on #332
Installing master branch in this repository solved the problem.

[2019-11-19 16:42] blueyed commented on #332
Thanks for the report and reporting back.
Closing then.

[2019-11-19 16:42] #332 closed

[2019-12-08 07:12] jmdevin opened #337 "Vint erroneously marks default values for function arguments as errors"
### Vint Version
#### 0.3.21

### The Problem
The following function is valid vimscript. Vint, however, marks the equals sign an "unexpected token."
[code]
[code]

### Reproduce
1. Create a file called test.vim
2. Add the following lines to the file:
[code]
3. Optionally, source the file and run `:call TestFunction()` and `:call TestFunction(267)` to see that the function works.
4. Exit vim
5. Run

[2019-12-08 11:32] blueyed commented on #337
Thanks for the report.
It is not supported yet.
I've created https://github.com/vim-jp/vim-vimlparser/issues/154.

[2019-12-11 08:16] lukelbd commented on #148
Just discovered this is still an issue when using *user commands* within the `if | ... | endif` block (and possibly other esoteric situations?).

For example:

[code]

The error I get is `.vimrc|1512 error| E171: Missing :endif:    TOPLEVEL (SyntaxError)`. It causes the linter to ignore the whole file because it thinks it's within the unterminated `if` statement.

This issue should probably be reo

[2019-12-19 13:57] LumaKernel opened #338 "Support for [new] .. string concatenation operator in v0.4a1"
I'm using vint on Windows so I need `v0.4a1` ( #290 ) but the parser in this version is still old. ( #306 )
I want pre-release new version for now.

[2019-12-20 22:07] blueyed commented on #338
Would be easier with / should be done after https://github.com/Kuniwak/vint/issues/315.

I suggest installing/using master for now.

[2019-12-23 07:59] zhmars opened #339 "Crash with `#{key: value}` (TypeError: 'int' object is not subscriptable)"
Hi, I got some error with this minimal.vim.

[code]

### Environment

`vint --version` : 0.3.21.dev45+gbcd6562

### Reproduce

 - `vint  minimal.vim`

[code]

[2019-12-23 10:11] blueyed commented on #339
Same/similar on master.
This dict syntax is not supported yet, but vimlparser appears to support it already:

[2019-12-23 10:30] blueyed commented on #339
It appears to be a bug in vimlparser after all: https://github.com/vim-jp/vim-vimlparser/issues/155

[2020-01-17 08:53] blueyed opened #350 "Transfer repo to https://github.com/Vimjas/ ?"
I've thought about this before, and am running into an issue with "travis encrypt" (for #315, https://github.com/travis-ci/travis.rb/issues/687, https://travis-ci.community/t/travis-encrypt-data-too-large-for-pypi-tokens-with-older-repos/5792/4).
Instead of using a workaround (two env vars) I've thought that moving it to a new org would be a better workaround (it should create a new (bigger) key t

[2020-01-17 10:00] Kuniwak commented on #350
@blueyed Basically, I strongly agree that move Kuniwak/vint to <new org>/vint if it is you meant.

I think there are 2 approaches:

1. creating new org like `github.com/vim-vint`

    `github.com/vint` is a better org name, but it is in used. `vim-vint` is not used yet now, and this name is same as the name in PyPI.

2. using an org like `github.com/Vimjas` or others

    But I don't know about Vi

[2020-01-17 10:56] blueyed commented on #350
@Kuniwak
I've created the Vimjas org myself to host Vim projects, and everybody is welcome to join.. :)
So I'd like to go with that (2nd option).

[2020-01-17 11:19] Kuniwak commented on #350
@blueyed
Sounds good. I agree that move to Vimjas. Does you have permission to transfer the repo?

[2020-01-17 11:21] blueyed commented on #350
@Kuniwak
Cool.
No, I don't see "settings" here.
I assume you want to join Vimjas - I'll invite you there then, so you can do the transfer, ok?

[2020-01-17 11:29] Kuniwak commented on #350
@blueyed

I tried to transfer, but it failed because I didn't have the permission to create repo on Vimjas.

Would you invite me to Vimjas to get the permission?

[2020-01-17 11:30] blueyed commented on #350
@Kuniwak
I've sent the invitation already.

[2020-01-17 11:32] Kuniwak commented on #350
Ah, I've missed it. I'm gonna retry.

[2020-01-17 11:33] blueyed commented on #350
\o/
Thank you!

[2020-01-17 11:33] #350 closed

[2020-01-17 11:36] blueyed commented on #350
Unfortunately "travis encrypt" still fails.. :/

[2020-01-17 11:50] #315 closed

[2020-01-17 12:09] blueyed commented on #315
Released https://pypi.org/project/vim-vint/0.4a3/ via it.. \o/

[2020-01-17 12:10] blueyed commented on #127
Closing.  Thanks again for all your work here already! \o/

[2020-01-17 12:10] #127 closed

[2020-01-17 12:11] blueyed commented on #146
Closing as per previous comment.
FYI: https://pypi.org/project/vim-vint/0.4a3/ was released just now - hopefully we'll have 0.4 soon.

[2020-01-17 12:11] #146 closed

[2020-01-17 12:11] blueyed commented on #225
Closing as fixed.

[2020-01-17 12:11] #225 closed

[2020-01-17 12:12] blueyed commented on #338
https://pypi.org/project/vim-vint/0.4a3/ has been released now.

[2020-01-17 12:12] #338 closed

[2020-01-23 23:42] hseg opened #352 "vlint doesn't warn on initializing a variable under conditional"
Consider
[code]
If `foo()` fails, vim will error out on the assignmant of `l:baz` complaining `l:bar` is undefined.

[2020-02-25 08:10] tyru opened #354 "Detect unwanted assigning to global variable at top-level by :for"
I appreciate if vint catches this case.

## Should detect

[code]

## Should not detect

[code]

[2020-02-25 08:16] tyru commented on #354
Real example: https://github.com/tsuyoshicho/vim-efm-langserver-settings/pull/28

[2020-02-26 01:11] lucianposton opened #355 "pytest failures with python 3.8"
Tests fail due to python 3.8 warnings that don't show up when byte code is already compiled.

Before running tests, clear out byte code and disable it for future test runs:
[code]

See test failures caused by 3.8 warnings e.g.:
[code]

[2020-02-26 17:38] blueyed commented on #355
Thanks for the report.
But I guess this is fixed in master (f8bae71), also available as v0.4a2.

[2020-02-26 17:38] #355 closed

[2020-03-01 17:03] ipkiss42 opened #357 "Method calls reported as errors"
Vint version: 0.4a4.dev5+gfb6fa16

In the following snippet, Vint shows an error: `E488: Trailing characters: - (see vim-jp/vim-vimlparser)`

[code]

However this code is valid, see `:h method` for details (or run it interactively and print the value of `s`).

[2020-03-01 17:21] blueyed commented on #357
Yeah, that's not supported/parsed yet.
Ref: https://github.com/vim-jp/vim-vimlparser/issues/150

[2020-03-06 15:11] tyru commented on #339
This seems already fixed.

[2020-03-06 15:16] tyru commented on #286
This is vimlparser's bug.
Created issue https://github.com/vim-jp/vim-vimlparser/issues/166

[2020-03-06 15:17] tyru commented on #124
@thinca これは今は `..` 演算子を使えばいいので閉じれるはず？

[2020-03-06 15:18] tyru commented on #121
@thinca 最新版では出ないです。

[2020-03-06 15:20] tyru commented on #135
@tmsanrinsha #136 で修正されました。

[2020-03-06 15:22] tyru commented on #242
@li-ruijie it was fixed already.

[2020-03-06 15:24] tyru commented on #163
this was already fixed.

[2020-03-06 15:34] tyru commented on #271
ref: https://github.com/vim-jp/vim-vimlparser/issues/79

[2020-03-06 21:09] blueyed commented on #163
Thanks, @tyru.
Let me know if you'd like to be added as contributor etc so that you can close issues yourself.

[2020-03-06 21:09] #163 closed

[2020-03-07 13:41] tyru commented on #163
I want to be a contributor because I can close issue, judge the cause is vimlparser, delegate to vimlparser issue, and so on.

[2020-03-19 14:02] #337 closed

[2020-03-19 14:02] #357 closed

[2020-03-21 19:42] przepompownia opened #359 "Vint warns if there is no augroup in ftdetect scripts"
Both manual mention that there are no need to wrap commands by an additional autocmd.

[2020-03-24 23:27] tyru opened #360 "[RFC] Check unreachable code"
It would appreciate that vint warns unreachable code at `echomsg` of below code.

[code]

[2020-04-18 13:10] przepompownia opened #361 "Script function pased by reference is recognized as "unused variable""
[code]

[2020-05-06 12:34] zhmars commented on #339
Confirmed. Thanks.

[2020-05-06 12:34] #339 closed

[2020-05-19 19:20] puremourning opened #363 "Spurious scriptencoding error when checking multiple files"
The warning  "Set encoding before setting scriptencoding (see :help :scriptencoding)" is reported when a `set encoding=` is found in _any file_ after `:scriptencoding`

To reproduce:

* Create a file `dir1/file1.vim` with the following:

[code]

* Create a file `dir2/file2.vim` with the following:

[code]

* run `vint dir1/ dir2/`

Expected result: no error
Actual result:

[code]

[2020-05-25 02:41] kutsan opened #365 "Support expr-.. (double dot) for string concatenation"
See:

- https://vimhelp.org/eval.txt.html#expr-..
- https://github.com/vim/vim/commit/0f248b006c2574abc00c9aa7886d8f33620eb822

[code]

Since they are the same, vint shouldn't produce an error such as:

[code]

[2020-06-19 19:53] brammool commented on #233
We can't change this for legacy Vim script, it would break existing scripts.
It is changed for Vim9 script, which checks types more strict.
So perhaps suggest using Vim9 script?  Too early for that...

[2020-06-23 17:45] Houl commented on #233
Problem with `is#`:

    :echo "a" is# [1,2,3]
    => 0

happily compares string and list without error.  I mostly want to get an error here.  And `:echo ["a"] ==# [[1,2,3]]` isn't any better.  So there is no clear winner.

[2020-06-25 09:20] w0rp commented on #233
I like being able to compare Strings and Lists without getting an error. What I did in the ALE codebase is add uses of `grep` to ask you to replace `==` and friends with `is` and friends, and there have been fewer bugs ever since.

[2020-06-25 20:24] brammool commented on #233
There are arguments both for ignoring types and for strict type
checking.  I don't plan to change this for legacy Vim script.  In Vim9
the plan is to have reasonable strict type checking.  Thus comparing a
number with a string will give an error.  In most cases that's the right
thing to do.  You can use "string(theNumber) == theString" if you want
to.  Or use string() on both sides if you don't kn

[2020-07-04 11:55] w0rp commented on #233
That sounds horrible, and I hope it doesn't catch on.

[2020-08-16 10:02] latricewilgus opened #367 "Const variables not recognised as variable definition"
If a script-local variable is defined with const, it is not recognized as a variable definition, e.g. a file `test.vim` with the content
[code]
yields as output of `vint -w test.vim`
[code]

Replacing `const` with `let` lets the warning go away. Likewise using `aa` instead of `s:aa` as variable name solves it, too.

My guess is that `const x = y` is not recognised as a definition.
I have no clue h

[2020-08-26 12:23] wsdjeg opened #368 "Failed to run vint ."
when run `vint .`, I get following errors.

[code]

[2020-09-09 19:33] w0rp opened #369 "Publish 0.4.0"
It's been a year since the last release on PyPi. Would it be possible to package up what exists now, and release it as 0.4.0?

[2020-09-09 21:42] blueyed commented on #369
Development is rather inactive here currently.
There is a milestone however: https://github.com/Vimjas/vint/issues?q=is%3Aopen+is%3Aissue+milestone%3Av0.4

For now I recommend to install it from Git's master branch.

[2020-09-12 12:01] wsdjeg commented on #369
Hello, I have a question about vint and vimlint, what is the differences between these two project? does vint include all features of vimlint? I just font vimlint is too slow for long vim script files, it causes timeout in travis-ci.

It vint includes all the feature in vimlint, maybe we can use vint only.

[2020-10-23 13:21] indygwyn opened #370 "added vint to HomeBrew"
Just wanted to let you know that I added a HomeBrew Formula for vint and it's been approved
https://github.com/Homebrew/homebrew-core/pull/63333

[2020-11-30 08:32] Moshem123 commented on #305
The package installed from brew can't parse input from stdin:
https://pasteboard.co/JCJf2BA.png

Will there be a fix?

[2020-11-30 12:14] blueyed commented on #305
@Moshem123
It still needs a new release to be made I think.
You can use HEAD/master for now.

[2020-11-30 14:22] Moshem123 commented on #305
Thanks,
This helped me: https://github.com/iamcco/coc-diagnostic/issues/62

[2020-12-02 18:43] kutsan commented on #365
The features is implemented by vimlparser as seen here: https://github.com/vim-jp/vim-vimlparser/issues/173

[2021-01-11 06:42] gregorias commented on #182
Python 2 is no longer supported, so I think we can close this issue.

[2021-01-11 06:42] #182 closed

[2021-02-21 17:43] mvanderkamp commented on #365
I believe this is already fixed? I did a `pip install` on a clone of the repo and no longer saw this error.

[2021-02-22 03:51] kutsan commented on #365
I'm still getting this error.

![image](https://user-images.githubusercontent.com/10108377/108654736-5accdd00-74da-11eb-8eb6-b04665626894.png)

[2021-02-22 07:58] blueyed commented on #365
Appears to be fixed in master (b577a623e9279d44eb3dc81e6817c8eec25add63; and released as v0.4a2).
To install it use `--pre` with pip.

[2021-02-22 07:58] #365 closed

[2021-02-22 08:01] kutsan commented on #365
Hmm, I should have tried building from master. Thanks @blueyed.

[2021-06-18 04:04] reportaman opened #373 "Gives syntax error on seemingly valid code from vim docs"
Vim documentation's file tips.txt has an example on how to open help in current window. It works when used, but for some reason vint gives a syntax error on it.

Error:
[code]

Code:
[code]

Source of code snippet:
Search for ``help-curwin`` in https://vimhelp.org/tips.txt.html

[2021-06-26 08:14] jdhao commented on #337
The pypi version of vint is way too old. So it still complains the false positive error about default value for positional arugment.
 Is there any plan to update that version?

[2021-06-27 08:46] openjck commented on #329
I ran into this issue as well. Thanks for reporting it, @natebosch.

@blueyed, do you think there's any way you could do a new release which includes this fix? It's pretty old to still be causing issues on the latest release.

[2021-07-26 15:45] lelutin commented on #363
Hi there, I can confirm that I'm seeing this issue with vint 0.4a3 on my .vim directory (it actually contains my vimrc file)

my vimrc sets encoding first and then scriptencoding. there's one more file that sets scriptencoding and that causes the error to show up

[2021-08-07 13:51] Konfekt opened #374 "TypeError: 'NoneType' object is not subscriptable on 'silent! redir => swapfile'"
This function

[code]

from https://github.com/EinfachToll/DidYouMean/blob/a98fb17ba16aa2eb69b3f9cc7a70e8a736890e4e/plugin/DidYouMean.vim#L6 gives the exception:

[code]

[2021-09-03 03:22] systemmonkey42 opened #375 "vint handling of autoload functions not working with stdin"
~~vint uses the file path to detect if functions in the file are "autoloads", and enables additional warnings.~~

~~When using stdin `--stdin-display-name`  appears to be cosmetic only and does not inform vint that the file being checked is infact, an autoload file.~~

Please ignore - my test was flawed.

[2021-09-03 03:31] #375 closed

[2021-09-17 08:20] wrengr opened #376 "Configuration for ProhibitAbbreviationOption"
I would like `ProhibitAbbreviationOption` to have an `ignored_patterns` field like `ProhibitUnusedVariable` has (see #266). Or something sufficiently similar (since using regexes really doesn't seem necessary here).

More specifically, I'd like to disable warnings for using `&cpo` (while leaving warnings on for other options) because of the idiom discussed by `:h use-cpo-save`. This idiom is basic

[2021-09-20 04:52] Freed-Wu opened #377 "[feature] support --color=auto"
`--color=never` is equivalent with `--color`, `--color=always` is equivalent with `--no-color`, when the output is stdout, `--color=auto` = `--color=always`, when output is not stdout (such as a file), `--color=auto` = `--color=never`.

[2021-09-28 22:37] blueyed commented on #377
Just for reference: `--color` is a boolean flag currently, and therefore not easily changeable into an options with arguments (at least when `--color auto` should/would also work as `--color=auto`).
Code ref: https://github.com/Vimjas/vint/blob/471e70bfff02edab460bc238c2e6d8aa46197d60/vint/linting/cli.py#L101-L102

Therefore color could be auto-detected maybe with neither of the flags being given

[2022-01-01 08:02] rbong commented on #330
Less-than-ideal workaround for pipelines until vspec support is added:

[code]

[2022-01-09 22:56] seroqn opened #378 "Windows上でコマンドとして実行したとき、NotImplementedError が発生する"
Windows10, python は Windows版3.10.1

コマンドプロンプトからでもmsys2上のzshからの実行でも変わらず発生する
[code]

[2022-01-20 07:12] mike-lloyd03 opened #379 "Cannot run due to PackageNotFoundError"
`vint` returns the following error whenever it is invoked.

[code]
vint version: vint-git 0.4a4.dev10+g471e70b-1 (installed from AUR)
OS: Manjaro Linux 5.15.12
System Python3 version: 3.10.1

This was working a few weeks ago so I think it has something to do with an update to Python 3.10 or perhaps one of the [ongoing issues with pip on Arch](https://github.com/pypa/pip/issues/10750#issuecomment-1

[2022-01-20 07:20] mike-lloyd03 commented on #379
I just tried cloning the master branch and now vint seems to work, but it cannot read from stdin.

[code]

[code]

[2022-01-20 07:24] mike-lloyd03 commented on #379
Okay nevermind. vint is working with coc.nvim and I was reading from stdin incorrectly. Should be

[code]

[2022-01-20 07:24] #379 closed

[2022-02-04 04:40] LRitzdorf commented on #329
The version of vint installed via `pip` (from the Python Package Index) does not include this fix. For that reason, I would suggest that this issue be reopened until the PyPI version is updated. Thanks!

[2022-02-13 15:29] telemachus commented on #359
To say this even more strongly, I think that [`:help ftdetect`](https://vimhelp.org/filetype.txt.html#ftdetect) implies that scripts should *not* wrap autocommands in an `augroup` in a `ftdetect` file.

There have definitely been problems when people follow the false warning. E.g, https://github.com/fatih/vim-go/pull/1645 mentioned in https://github.com/Vimjas/vint/issues/264.

Would you be open t

[2022-03-12 18:14] lelutin commented on #363
Hi there, I can confirm that adding the snippet of configuration that @offa mentioned to `~/.vintrc.yaml` takes out the error about the encoding.

It also takes out all legit checks for this within files though.

The way I worked arount this issue was to modify my `~/.vimrc` in this way to disable the warning only where the error was being produced:

[code]

[2022-03-12 19:38] puremourning commented on #363
I just use my fork which includes the fix https://github.com/Vimjas/vint/pull/364

[2022-05-13 06:04] systemmonkey42 opened #380 "Error when calling map() as a method - ProhibitInvalidMapCall - Number of arguments for map()"
[code]

[2022-09-28 14:48] idbrii commented on #230
Comparisons using match/ignore case equality operators sound like a great idea to prevent that bug. I'd also suggest catching `empty(get())` or  `len(get())` since you have the same string conversion problem.

But would non string comparisons result in no warning:

    if get(l:some_dictionary, 'foo') == g:threshold
    if get(l:some_dictionary, 'foo') > 0
    if get(l:some_dictionary, 'foo')

May

[2022-09-28 14:57] idbrii opened #381 "Don't require explicit scoping on function variables"
I don't understand why vint encourages people to make their vimscript less readable by including extra decoration on variables.

I often have code like this:

[code]

And I get this warning:

However, [Anti-pattern of vimrc (Scope of identifier)](https://rbtnn.hateblo.jp/entry/2014/12/28/010913) says:

The variable **isn't used outside a function**, so it's implicitly locally scoped. See `:help lo

[2022-10-11 08:44] Freed-Wu opened #382 "[feature] Support shell completion"
Use <https://docs.iterative.ai/shtab/> as an extra requirement, Like <https://github.com/andreafrancia/trash-cli/blob/master/trashcli/shell_completion.py>?

Thanks.

[2022-10-14 14:24] rottencandy opened #383 "False error for optional function argument"
Vint gives an error for optional arguments in functions.
For the example from `:h optional-function-argument`:
[code]
Error:
[code]

[2022-10-17 17:02] blueyed commented on #382
Have you tried https://docs.iterative.ai/shtab/use/#cli-usage already?

[2022-10-20 11:17] rhysd opened #384 "Vint hangs in busy loop when `:vim9script` is used"
## Environment

- Vint: 0.3.21
- OS: macOS 11
- Python: 3.10.6

## Repro

[code]

## Expected behavior

`vint` returns the result.

## Actual behavior

`vint` hangs in busy loop consuming 100% CPU.

Typing `^C` showed stacktrace:

[code]

## Note

I think this issue can be solved by updating the parser to the latest because HEAD of vim-vimlparser does not reproduce this issue.

[code]

I'll make a

[2022-10-20 13:03] #384 closed

[2022-10-20 13:04] blueyed opened #386 "Move CI from Travis to GitHub Actions"
Travis apparently only has a 30-days trial plan by now.

[2022-10-24 13:06] #386 closed

[2022-11-26 04:48] Freed-Wu opened #388 "[feature] Support PEP621"
According to <https://peps.python.org/pep-0621>, any python project should
store its metadata in pyproject.toml, not `.gitlint`, `.yamllint.yaml`, `.vintrc.yml`, `addon-info.json`, or other thing.

Many project have support PEP621, such as

- <https://github.com/psf/black>
- <https://github.com/codespell-project/codespell>
- <https://github.com/PyCQA/pydocstyle>
- <https://github.com/pypa/setuptoo

[2022-11-26 15:34] Freed-Wu commented on #388
it should be https://peps.python.org/pep-0518/#tool-table (right, pep only have a number which make it is hard to remember), It suggests every python tool store their setting to pyproject.tomls tool.